<template>
    <div>
        <transition name="fade" mode="out-in">
            <div key="info" v-if="!showForm" class="bg-white shadow border p-3">
                <div class="row">
                    <div class="col-8 px-0">
                        <h4 class="text-black text-bold pl-2">
                            Datos Personales
                        </h4>
                    </div>
                    <div class="col-4 text-right">
                        <a href="javascript:void(0)" @click="loadData">
                            <i class="fas fa-pen mr-2"></i> Editar
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-12 col-md-6">
                        <div class="text-sm"><span class="text-bold">{{$store.getters.authTipoDocumento}}:</span> {{$store.state.AuthModule.authPersona.numero_documento}}</div>
                        <div class="text-sm"><span class="text-bold">Fecha de Nacimiento:</span> {{$store.state.AuthModule.authPersona.fecha_nacimiento}}</div>
                        <div class="text-sm"><span class="text-bold">Estado civil:</span> {{$store.getters.authEstadoCivil}}</div>
                        <div class="text-sm"><span class="text-bold">Sexo:</span> {{$store.state.AuthModule.authPersona.sexo}}</div>
                    </div>
                    <div class="col col-12 col-md-6">
                        <div class="text-sm"><span class="text-bold">Lugar de Nacimiento:</span> {{$store.getters.authNacimiento}}</div>
                        <div class="text-sm"><span class="text-bold">Nacionalidad:</span> {{$store.getters.authNacionalidad}}</div>
                        <div class="text-sm"><span class="text-bold">Grupo étnico:</span> {{$store.getters.authGrupoEtnico}}</div>
                        <div class="text-sm"><span class="text-bold">Discapacidad:</span> {{$store.getters.authDiscapacidades}}</div>
                    </div>
                </div>
                <div class="row mb-2 mt-4">
                    <div class="col-12 px-0">
                        <h4 class="text-black text-bold pl-2">
                            Datos de Contacto
                        </h4>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col col-12 col-md-6">
                        <div class="text-sm"><span class="text-bold">Correo electronico: </span> {{$store.state.AuthModule.authPersona.email !== null? $store.state.AuthModule.authPersona.email : '-'}}</div>
                        <div class="text-sm"><span class="text-bold">Dirección: </span> {{$store.state.AuthModule.authPersona.direccion !== null ? $store.state.AuthModule.authPersona.direccion : '-'}}</div>
                    </div>
                    <div class="col col-12 col-md-6">
                        <div class="text-sm"><span class="text-bold">Lugar de Residencia: </span>{{$store.getters.authResidencia}}</div>
                        <div class="text-sm"><span class="text-bold">Teléfonos: </span>{{($store.state.AuthModule.authPersona.telefono_uno !== null ? $store.state.AuthModule.authPersona.telefono_uno : '')+
                            ($store.state.AuthModule.authPersona.telefono_dos !== null ? ' - '+$store.state.AuthModule.authPersona.telefono_dos : '')}}</div>
                    </div>
                </div>
            </div>
            <div key="form" class="bg-white shadow border p-3" v-if="showForm">
                <ValidationObserver ref="observer" tag="form" @submit.prevent="updateData()">
                    <h4 class="text-black text-bold pl-2">
                        Datos Personales
                    </h4>
                    <div class="row">
                        <div class="col col-md-6 col-12 p-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="tipo de documento">
                                <label for="tipo_documento">Tipo de documento<span class="text-danger">*</span></label>
                                <v-select class="v-select-normal" :options="tiposDeDocumentos" id="tipo_documento" v-model="select.tipoDocumento"></v-select>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-md-6 col-12 p-1">
                            <ValidationProvider rules="required|numeric|min:6|max:10" v-slot="{ errors }" name="número de documento">
                                <label for="n_documento">Número de documento<span class="text-danger">*</span></label>
                                <input id="n_documento" v-model="form.numero_documento" class="form-control form-control-normal">
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col-12 col-md-6 p-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="Primer nombre">
                                <label for="nombre1">Primer nombre<span class="text-danger">*</span></label>
                                <input id="nombre1" v-model="form.primer_nombre" class="form-control form-control-normal">
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col-12 col-md-6 p-1">
                            <ValidationProvider rules="" v-slot="{ errors }" name="Segundo nombre">
                                <label for="nombre2">Segundo nombre</label>
                                <input id="nombre2" v-model="form.segundo_nombre" class="form-control form-control-normal">
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col-12 col-md-6 p-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="Primer apellido">
                                <label for="ape1">Primer apellido<span class="text-danger">*</span></label>
                                <input id="ape1" v-model="form.primer_apellido" class="form-control form-control-normal">
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col-12 col-md-6 p-1">
                            <ValidationProvider rules="" v-slot="{ errors }" name="Segundo apellido">
                                <label for="ape2">Segundo apellido</label>
                                <input id="ape2" v-model="form.segundo_apellido" class="form-control form-control-normal">
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 col-md-6 p-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="fecha de nacimiento">
                                <label>Fecha de nacimiento<span class="text-danger">*</span></label>
                                <datepicker :disabled-dates="{from: new Date()}"
                                            format="dd/MM/yyyy" v-model="form.fecha_nacimiento" required></datepicker>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-md-6 col-12 p-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="estado civil">
                                <label for="estado_civil">Estado civil<span class="text-danger">*</span></label>
                                <v-select class="v-select-normal" :options="estadosCiviles" id="estado_civil" v-model="select.estadoCivil"></v-select>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 p-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="sexo">
                                <label for="sexo">Sexo<span class="text-danger">*</span></label>
                                <v-select class="v-select-normal" :options="['Masculino','Femenino']" id="sexo" v-model="form.sexo"></v-select>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div v-if="form.sexo === 'Masculino'" class="col col-12 p-1">
                            <b-form-checkbox
                                    id="tiene-libreta"
                                    v-model="tieneLibreta"
                                    name="tiene-libreta"
                                    :value="true"
                                    :unchecked-value="false"
                            >
                                Tiene libreta militar
                            </b-form-checkbox>
                        </div>
                        <div v-if="tieneLibreta && form.sexo === 'Masculino'" class="col col-12 col-md-6 p-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="tipo libreta">
                                <label for="tipo_libreta">Tipo de Libreta<span class="text-danger">*</span></label>
                                <v-select class="v-select-normal" :options="['Primera','Segunda']" id="tipo_libreta" v-model="form.tipo_libreta"></v-select>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div v-if="tieneLibreta && form.sexo === 'Masculino'" class="col col-12 col-md-6 p-1">
                            <ValidationProvider rules="required|numeric|min:6|max:10" v-slot="{ errors }" name="número libreta">
                                <label for="numero_libreta">Número libreta<span class="text-danger">*</span></label>
                                <input id="numero_libreta" v-model="form.numero_libreta" class="form-control form-control-normal">
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 px-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="país de nacionalidad">
                                <label for="pais_nacionalidad">País de nacionalidad</label>
                                <v-select class="v-select-normal" :options="paises" id="pais_nacionalidad" v-model="select.paisNacionalidad"></v-select>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 px-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="país">
                                <label for="pais">País de nacimiento</label>
                                <v-select class="v-select-normal" :options="paises" id="pais" v-model="select.paisNacimiento" @input="getDepartamentosNacimiento"></v-select>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 col-md-6 px-1" v-if="select.paisNacimiento.label === 'COLOMBIA'">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="departamento">
                                <label for="departamento">Departamento de nacimiento</label>
                                <v-select class="v-select-normal" :options="departamentosNacimiento" id="departamento" v-model="select.departamentoNacimiento" @input="getMunicipiosNacimiento"></v-select>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 col-md-6 px-1" v-if="select.paisNacimiento.label === 'COLOMBIA'">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="municipio">
                                <label for="municipio">Municipio de nacimiento</label>
                                <v-select class="v-select-normal" :options="municipiosNacimiento" id="municipio" v-model="select.municipioNacimiento"></v-select>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-md-6 col-12 p-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="grupo étnico">
                                <label for="grupo_etnico">Grupo étnico<span class="text-danger">*</span></label>
                                <v-select class="v-select-normal" :options="gruposEtnicos" id="grupo_etnico" v-model="select.grupoEtnico"></v-select>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-md-6 col-12 p-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="discapacidad">
                                <label for="discapacidad">Condición de Discapacidad<span class="text-danger">*</span></label>
                                <v-select class="v-select-normal" :options="['Sí','No']" id="discapacidad" v-model="tieneDiscapacidad"></v-select>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 p-1" v-if="tieneDiscapacidad === 'Sí'">
                            <b-form-group label="Tipo de discapacidad:">
                                <b-form-checkbox-group id="tipo_discapacidad" v-model="select.discapacidades" name="tipo_discapacidad">
                                    <b-form-checkbox :value="discapacidad.id"
                                                     v-for="discapacidad in parametricas.discapacidades" :key="discapacidad.descripcion">
                                        {{discapacidad.descripcion}}
                                    </b-form-checkbox>
                                </b-form-checkbox-group>
                            </b-form-group>
                        </div>
                        <div class="col col-12 p-1">
                            <b-form-checkbox
                                    id="jefe_hogar"
                                    v-model="form.jefe_hogar"
                                    name="jefe_hogar"
                                    :value="true"
                                    :unchecked-value="false"
                            >
                                Jefe de hogar
                            </b-form-checkbox>
                        </div>
                    </div>
                    <h4 class="text-black text-bold pl-2">
                        Datos de Contacto
                    </h4>
                    <div class="row">
                        <div class="col col-12 col-md-6 p-1">
                            <ValidationProvider rules="required|email" v-slot="{ errors }" name="email">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input id="email" v-model="form.email" class="form-control form-control-normal">
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 col-md-6 p-1">
                            <ValidationProvider rules="required|numeric" v-slot="{ errors }" name="codigo_postal">
                                <label for="codigo_postal">Código postal<span class="text-danger">*</span></label>
                                <input id="codigo_postal" v-model="form.codigo_postal" class="form-control form-control-normal">
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 px-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="país de residencia">
                                <label for="pais_residencia">País de residencia</label>
                                <v-select class="v-select-normal" :options="paises" id="pais_residencia" v-model="select.paisResidencia" @input="getDepartamentosResidencia"></v-select>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 col-md-6 px-1" v-if="select.paisResidencia.label === 'COLOMBIA'">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="departamento">
                                <label for="departamento_residencia">Departamento de residencia</label>
                                <v-select class="v-select-normal" :options="departamentosResidencia" id="departamento_residencia" v-model="select.departamentoResidencia" @input="getMunicipiosResidencia"></v-select>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 col-md-6 px-1" v-if="select.paisResidencia.label === 'COLOMBIA'">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="municipio">
                                <label for="municipio_residencia">Municipio de residencia</label>
                                <v-select class="v-select-normal" :options="municipiosResidencia" id="municipio_residencia" v-model="select.municipioResidencia"></v-select>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-md-6 col-12 p-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="tipo de dirección">
                                <label for="tipo_dirección">Tipo de dirección<span class="text-danger">*</span></label>
                                <v-select class="v-select-normal" :options="['Urbana','Rural']" id="tipo_dirección" v-model="form.tipo_direccion"></v-select>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-md-6 col-12 p-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="barrio de residencia">
                                <label for="barrio_residencia">Barrio de residencia<span class="text-danger">*</span></label>
                                <input id="barrio_residencia" v-model="form.complemento_direccion" class="form-control form-control-normal">
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 col-md-6 p-1">
                            <ValidationProvider rules="required|numeric|min:6|max:10" v-slot="{ errors }" name="teléfono">
                                <label for="telefono_uno">Teléfono<span class="text-danger">*</span></label>
                                <input id="telefono_uno" v-model="form.telefono_uno" class="form-control form-control-normal">
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 col-md-6 p-1">
                            <ValidationProvider rules="numeric|min:6|max:10" v-slot="{ errors }" name="otro teléfono">
                                <label for="telefono_dos">Otro teléfono</label>
                                <input id="telefono_dos" v-model="form.telefono_dos" class="form-control form-control-normal">
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 p-1">
                            <ValidationProvider rules="" v-slot="{ errors }" name="observación">
                                <label for="observacion">Observación</label>
                                <input id="observacion" v-model="form.observacion" class="form-control form-control-normal">
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col-12 card p-3 my-5">
                            <DireccionForm @direccionGenerada="(data)=>{form.direccion = data}" :tipo="form.tipo_direccion"></DireccionForm>
                        </div>
                        <div class="col col-12 p-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="dirección">
                                <label for="direccion">Dirección</label>
                                <input id="direccion" v-model="form.direccion" class="form-control form-control-normal" disabled>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 d-flex justify-content-center mt-4">
                            <button @click="showForm = false" class="btn btn-outline-secondary mr-2" type="button">Volver</button>
                            <button class="btn btn-danger" type="submit">Guardar</button>
                        </div>
                    </div>
                </ValidationObserver>
            </div>
        </transition>
    </div>
</template>

<script>

    import {EventBus} from "../../../../EventBus";
    import TipoDocumentoService from "../../../../services/parametricas/TipoDocumentoService";
    import PaisService from "../../../../services/parametricas/PaisService";
    import DepartamentoService from "../../../../services/parametricas/DepartamentoService";
    import MunicipioService from "../../../../services/parametricas/MunicipioService";
    import Datepicker from "vuejs-datepicker";
    import DiscapacidadService from "../../../../services/parametricas/DiscapacidadService";
    import EstadoCivilService from "../../../../services/parametricas/EstadoCivilService";
    import GrupoEtnicoService from "../../../../services/parametricas/GrupoEtnicoService";
    import DireccionForm from "../../../../components/DireccionForm";
    import PersonaService from "../../../../services/PersonaService";
    import moment from 'moment';

    export default {
        name:"datos_personales",
        data(){
            return {
                showForm: false,
                form:{
                    id: "",
                    tipo_documento_id: "",
                    numero_documento: "",
                    primer_nombre: "",
                    segundo_nombre: "",
                    primer_apellido: "",
                    segundo_apellido: "",
                    fecha_nacimiento: "",
                    estado_civil_id: "",
                    sexo: "",
                    tipo_libreta: "",
                    numero_libreta: "",
                    pais_nacimiento_id: "",
                    departamento_nacimiento_codigo: "",
                    municipio_nacimiento_codigo: "",
                    nacionalidad_id: "",
                    jefe_hogar: 0,
                    grupo_etnico_id: "",
                    email: "",
                    telefono_uno: "",
                    telefono_dos: "",
                    observacion: "",
                    pais_residencia_id: "",
                    departamento_residencia_codigo: "",
                    municipio_residencia_codigo: "",
                    direccion: "",
                    complemento_direccion: "",
                    tipo_direccion: "",
                    codigo_postal: "",
                    discapaciads: "",
                },
                parametricas:{
                    tiposDocumentos:[],
                    paises:[],
                    departamentosNacimiento:[],
                    municipiosNacimiento:[],
                    departamentosResidencia:[],
                    municipiosResidencia:[],
                    estadosCiviles:[],
                    gruposEtnicos:[],
                    discapacidades:[],
                },
                select:{
                    tipoDocumento:"",
                    paisNacimiento:"",
                    paisNacionalidad:"",
                    departamentoNacimiento:"",
                    municipioNacimiento:"",
                    paisResidencia:"",
                    departamentoResidencia:"",
                    municipioResidencia:"",
                    estadoCivil:"",
                    grupoEtnico:{label: "No aplica", code: 0},
                    discapacidades:[]
                },
                tieneLibreta: 0,
                tieneDiscapacidad: 'No'
            }
        },
        methods:{
            async updateData(){
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    EventBus.$emit('loading')
                    if(this.select.departamentoResidencia !== null && this.select.departamentoResidencia !== "") {
                        this.form.departamento_residencia_codigo = this.select.departamentoResidencia.code;
                    }
                    if(this.select.departamentoNacimiento !== null && this.select.departamentoNacimiento !== "") {
                        this.form.departamento_nacimiento_codigo = this.select.departamentoNacimiento.code;
                    }
                    if(this.select.municipioNacimiento !== null && this.select.municipioNacimiento !== "") {
                        this.form.municipio_nacimiento_codigo = this.select.municipioNacimiento.code;
                    }
                    if(this.select.municipioResidencia !== null && this.select.municipioResidencia !== "") {
                        this.form.municipio_residencia_codigo = this.select.municipioResidencia.code;
                    }
                    if(this.select.estadoCivil !== null && this.select.estadoCivil !== "") {
                        this.form.estado_civil_id = this.select.estadoCivil.code;
                    }
                    if(this.select.tipoDocumento !== null && this.select.tipoDocumento !== "") {
                        this.form.tipo_documento_id = this.select.tipoDocumento.code;
                    }
                    if(this.select.paisNacimiento !== null && this.select.paisNacimiento !== "") {
                        this.form.pais_nacimiento_id = this.select.paisNacimiento.code;
                    }
                    if(this.select.paisResidencia !== null && this.select.paisResidencia !== "") {
                        this.form.pais_residencia_id = this.select.paisResidencia.code;
                    }
                    if(this.select.paisNacionalidad !== null && this.select.paisNacionalidad !== "") {
                        this.form.nacionalidad_id = this.select.paisNacionalidad.code;
                    }
                    if(this.select.grupoEtnico.code !== 0) {
                        this.form.grupo_etnico_id = this.select.grupoEtnico.code;
                    }
                    this.form.fecha_nacimiento = moment(this.form.fecha_nacimiento).format('YYYY-MM-DD');
                    let discapacidades = [];
                    for(let i=0;i<this.select.discapacidades.length; i++){
                        discapacidades.push({discapacidad_id: this.select.discapacidades[i]})
                    }
                    this.form.discapacidad = discapacidades;
                    try{
                        await PersonaService.updatePersona(this.form);
                        await this.$store.dispatch('getInfoPersona')
                        this.$swal({
                            title: "Bien!!",
                            text: 'Tus datos se actualizaron correctamente',
                            icon: "success",
                        }).then(()=>{
                            this.showForm = false
                            this.checkPorcentaje()
                        });
                    }catch(error){
                        this.$swal({
                            title: "Error!",
                            text: error.response.data.error.toString(),
                            icon: "error",
                        })
                    }finally {
                        EventBus.$emit('loading-close')
                    }
                }else{
                    this.$swal({
                        title: "Error!",
                        text: 'Debes corregir los errores antes de enviar',
                        icon: "error",
                    })
                }
            },
            async getParametricas(){
                try {
                    this.parametricas.tiposDocumentos = (await TipoDocumentoService.all()).data;
                    this.parametricas.paises = (await PaisService.all()).data;
                    this.parametricas.discapacidades = (await DiscapacidadService.all()).data;
                    this.parametricas.estadosCiviles = (await EstadoCivilService.all()).data;
                    this.parametricas.gruposEtnicos = (await GrupoEtnicoService.all()).data;
                    let vm = this;
                    let tipoDocumento = this.parametricas.tiposDocumentos.find((item)=>{
                        return Number(vm.form.tipo_documento_id) === Number(item.id)
                    });
                    if(tipoDocumento !== undefined) {
                        this.select.tipoDocumento = {
                            label: tipoDocumento.descripcion + ' (' + tipoDocumento.sigla + ')',
                            code: tipoDocumento.id
                        }
                    }
                    let paisResidencia = this.parametricas.paises.find((item)=>{
                        return Number(this.form.pais_residencia_id) === Number(item.id)
                    });
                    if(paisResidencia !== undefined) {
                        this.select.paisResidencia = {label: paisResidencia.descripcion, code: paisResidencia.id}
                    }
                    let paisNacimiento = this.parametricas.paises.find((item)=>{
                        return Number(this.form.pais_nacimiento_id) === Number(item.id)
                    });
                    if(paisNacimiento !== undefined) {
                        this.select.paisNacimiento = {label: paisNacimiento.descripcion, code: paisNacimiento.id}
                    }
                    let paisNacionalidad = this.parametricas.paises.find((item)=>{
                        return Number(this.form.nacionalidad_id) === Number(item.id)
                    });
                    if(paisNacionalidad !== undefined) {
                        this.select.paisNacionalidad = {label: paisNacionalidad.descripcion, code: paisNacimiento.id}
                    }
                    let estadoCivil = this.parametricas.estadosCiviles.find((item)=>{
                        return Number(this.form.estado_civil_id) === Number(item.id)
                    });
                    if(estadoCivil !== undefined) {
                        this.select.estadoCivil = {label: estadoCivil.descripcion, code: estadoCivil.id}
                    }
                    let grupoEtnico = this.parametricas.gruposEtnicos.find((item)=>{
                        return Number(this.form.grupo_etnico_id) === Number(item.id)
                    });
                    if(grupoEtnico !== undefined) {
                        this.select.grupoEtnico = {label: grupoEtnico.descripcion, code: grupoEtnico.id}
                    }
                }catch (e) {
                    console.log(e)
                    this.$swal({
                        title: "Error!",
                        text: e.response.data.error.toString(),
                        icon: "error",
                    })
                }finally {
                    EventBus.$emit('loading-close')
                }
            },
            async getMunicipiosNacimiento(){
                EventBus.$emit('loading')
                try {
                    if(this.select.departamentoNacimiento !== null && this.select.departamentoNacimiento !== '') {
                        this.select.municipioNacimiento = null;
                        this.parametricas.municipiosNacimiento = (await MunicipioService.all(this.select.departamentoNacimiento.code)).data
                    }else{
                        this.select.municipioNacimiento = null;
                        this.parametricas.municipiosNacimiento = [];
                    }
                }catch (e) {
                    this.$swal({
                        title: "Error!",
                        text: e.response.data.error.toString(),
                        icon: "error",
                    })
                }finally {
                    EventBus.$emit('loading-close')
                }
            },
            async getDepartamentosNacimiento(){
                EventBus.$emit('loading')
                this.select.departamentoNacimiento = null;
                this.select.municipioNacimiento = null;
                try {
                    if(this.select.paisNacimiento.label === 'COLOMBIA') {
                        this.parametricas.departamentosNacimiento = (await DepartamentoService.all()).data;
                    }else{
                        this.parametricas.departamentosNacimiento = [];
                    }
                }catch (e) {
                    this.$swal({
                        title: "Error!",
                        text: e.response.data.error.toString(),
                        icon: "error",
                    })
                }finally {
                    EventBus.$emit('loading-close')
                }
            },
            async getMunicipiosResidencia(){
                EventBus.$emit('loading')
                try {
                    if(this.select.departamentoResidencia !== null && this.select.departamentoResidencia !== '') {
                        this.select.municipioResidencia = null;
                        this.parametricas.municipiosResidencia = (await MunicipioService.all(this.select.departamentoResidencia.code)).data
                    }else{
                        this.select.municipioResidencia = null;
                        this.parametricas.municipiosResidencia = [];
                    }
                }catch (e) {
                    this.$swal({
                        title: "Error!",
                        text: e.response.data.error.toString(),
                        icon: "error",
                    })
                }finally {
                    EventBus.$emit('loading-close')
                }
            },
            async getDepartamentosResidencia(){
                EventBus.$emit('loading')
                this.select.departamentoResidencia = null;
                this.select.municipioResidencia = null;
                try {
                    if(this.select.paisResidencia.label === 'COLOMBIA') {
                        this.parametricas.departamentosResidencia = (await DepartamentoService.all()).data;
                    }else{
                        this.parametricas.departamentosResidencia = [];
                    }
                }catch (e) {
                    this.$swal({
                        title: "Error!",
                        text: e.response.data.error.toString(),
                        icon: "error",
                    })
                }finally {
                    EventBus.$emit('loading-close')
                }
            },
            loadData(){
                this.form = this.$store.state.AuthModule.authPersona;
                this.showForm = true;
            },
            checkPorcentaje(){
                this.form = this.$store.state.AuthModule.authPersona;
                if(this.form.tipo_documento_id !== '' && this.form.numero_documento !== ''
                    && this.form.primer_nombre !== '' && this.form.primer_apellido !== ''
                    && this.form.fecha_nacimiento !== '' && this.form.estado_civil_id !== ''
                    && this.form.sexo !== '' && this.form.pais_nacimiento_id !== '' && this.form.nacionalidad_id !== ''
                    && this.form.grupo_etnico_id !== '' && this.form.telefono_uno !== ''
                    && this.form.email !== '' && this.form.pais_residencia_id !== ''
                    && this.form.direccion !== '' && this.form.codigo_postal !== '' &&
                    this.form.tipo_documento_id !== null && this.form.numero_documento !== null
                    && this.form.primer_nombre !== null && this.form.primer_apellido !== null
                    && this.form.fecha_nacimiento !== null && this.form.estado_civil_id !== null
                    && this.form.sexo !== null && this.form.pais_nacimiento_id !== null && this.form.nacionalidad_id !== null
                    && this.form.grupo_etnico_id !== null && this.form.telefono_uno !== null
                    && this.form.email !== null && this.form.pais_residencia_id !== null
                    && this.form.direccion !== null && this.form.codigo_postal !== null
                ){
                    EventBus.$emit('porcentajeDatosPersonales',15)
                }else{
                    EventBus.$emit('porcentajeDatosPersonales',0)
                }
            }
        },
        computed: {
            tiposDeDocumentos(){
                let arr = [];
                this.parametricas.tiposDocumentos.forEach(tipo => {
                    arr.push({label: tipo.descripcion+' ('+tipo.sigla+')', code: tipo.id})
                });
                return arr
            },
            paises(){
                let arr = [];
                this.parametricas.paises.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            },
            estadosCiviles(){
                let arr = [];
                this.parametricas.estadosCiviles.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            },
            gruposEtnicos(){
                let arr = [];
                arr.push({label: "No aplica", code: 0})
                this.parametricas.gruposEtnicos.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            },
            departamentosNacimiento(){
                let arr = [];
                this.parametricas.departamentosNacimiento.forEach(item => {
                    arr.push({label: item.descripcion, code: item.codigo})
                });
                return arr
            },
            municipiosNacimiento(){
                let arr = [];
                this.parametricas.municipiosNacimiento.forEach(item => {
                    arr.push({label: item.descripcion, code: item.codigo})
                });
                return arr
            },
            departamentosResidencia(){
                let arr = [];
                this.parametricas.departamentosResidencia.forEach(item => {
                    arr.push({label: item.descripcion, code: item.codigo})
                });
                return arr
            },
            municipiosResidencia(){
                let arr = [];
                this.parametricas.municipiosResidencia.forEach(item => {
                    arr.push({label: item.descripcion, code: item.codigo})
                });
                return arr
            },
        },
        mounted() {
            EventBus.$emit('loading');
            this.form = this.$store.state.AuthModule.authPersona;
            let vm = this;
            setTimeout(function () {
                vm.getParametricas()
                vm.checkPorcentaje()
            }, 2000);
        },
        components:{
            Datepicker,
            DireccionForm
        }
    }
</script>

<style>

</style>
