<template>
    <div>
        <div class="d-flex mb-3">
            <p class="mb-0 mr-2">¿Tiene educación informal? </p>
            <select @change="selectTieneExperiencia" :disabled="titulos.length > 0" v-model="tieneExperiencia" style="width: auto" class="form-control form-control-normal">
                <option>No</option>
                <option>Sí</option>
            </select>
        </div>
        <transition name="fade" mode="out-in">
            <div v-if="!mostrarForm" key="form">
                <div  v-for="titulo in titulos" class="bg-white shadow border p-3 mb-3">
                    <div class="row">
                        <div class="col-8 px-0">
                            <h4 class="text-black pl-2">
                                <span class="text-bold">{{titulo.nombre_programa}}</span>
                                | {{titulo.institucion}}
                            </h4>
                            <p v-if="titulo.tipo_certificacion_id" class="pl-2 mb-0"><b>Tipo: </b>
                                {{titulo.tipo_certificacion.descripcion}}
                            </p>
                            <p v-if="titulo.pais_id !== null" class="pl-2 mb-0"><b>País: </b>
                                {{titulo.pais.descripcion}}
                            </p>
                            <p class="pl-2 mb-0"><b>Duración (horas): </b>{{titulo.duracion_horas}}</p>
                            <p class="pl-2 mb-0"><b>Certificado: </b>{{titulo.estado_certificado ? 'Sí' : 'No'}}</p>
                        </div>
                        <div class="col-4 text-right">
                            <a href="javascript:void(0)" @click="editarTitulo(titulo)">
                                <i class="fas fa-pen mr-3"></i>
                            </a>
                            <a href="javascript:void(0)" @click="eliminarTitulo(titulo.id)">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-4">
                    <button class="btn btn-danger" type="button" @click="agregarButton" v-if="titulos.length > 0">+ Agregar Capacitaciones y Certificaciones</button>
                </div>
            </div>
            <div class="bg-white shadow border p-3" v-if="mostrarForm" key="no-form">
                <ValidationObserver ref="observer" tag="form" @submit.prevent="sendForm()">
                    <div class="row">
                        <div class="col col-12 px-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="tipo de certificación">
                                <label for="tipo_certificacion">Tipo de certificación<span class="text-danger">*</span></label>
                                <v-select class="v-select-normal" :options="tipoCertificacions" id="tipo_certificacion" v-model="select.tipoCertificacion"></v-select>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 col-md-6 px-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="institución">
                                <label for="institucion">Institución<span class="text-danger">*</span></label>
                                <input id="institucion" v-model="form.institucion" class="form-control form-control-normal">
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 col-md-6 px-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="nombre del programa">
                                <label for="nombre_programa">Nombre del programa<span class="text-danger">*</span></label>
                                <input id="nombre_programa" v-model="form.nombre_programa" class="form-control form-control-normal">
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 col-md-6 px-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="país">
                                <label for="pais">País<span class="text-danger">*</span></label>
                                <v-select class="v-select-normal" :options="paises" id="pais" v-model="select.pais"></v-select>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 col-md-6 px-1">
                            <ValidationProvider rules="numeric" v-slot="{ errors }" name="duración en horas">
                                <label for="duracion_horas">Duración (horas)</label>
                                <input id="duracion_horas" v-model="form.duracion_horas" class="form-control form-control-normal">
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 px-1">
                            <b-form-checkbox
                                    id="estado_certificado"
                                    v-model="form.estado_certificado"
                                    name="estado_certificado"
                                    :value="true"
                                    :unchecked-value="false"
                            >
                                Certificado
                            </b-form-checkbox>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <a class="d-block align-self-center mr-3" v-if="titulos.length > 0" href="javascript:void(0)" @click="mostrarForm = false">Volver</a>
                        <button class="btn btn-danger" type="submit">Guardar</button>
                    </div>
                </ValidationObserver>
            </div>
        </transition>
    </div>
</template>

<script>
    import {EventBus} from "../../../../EventBus";
    import PaisService from "../../../../services/parametricas/PaisService";
    import EducacionInformalService from "../../../../services/oferente/EducacionInformalService";
    import TipoCertificacionService from "../../../../services/parametricas/TipoCertificacionService";

    export default {
        name:"edu_informal",
        data(){
            return {
                form:{
                    persona_id:localStorage.getItem('persona_id'),
                    pais_id: "",
                    tipo_certificacion_id: "",
                    institucion: "",
                    nombre_programa: "",
                    estado_certificado: 0,
                    duracion_horas: ""
                },
                titulos:[],
                parametricas:{
                    paises:[],
                    tipoCertificacions:[],
                },
                select:{
                    pais:"",
                    tipoCertificacion:"",
                },
                mostrarForm: false,
                action:'Crear',
                tieneExperiencia: 'No'
            }
        },
        methods:{
            async getTitulos(){
                let personaId = localStorage.getItem('persona_id');
                let titulos = await EducacionInformalService.all(personaId);
                this.titulos = titulos.data;
                if(this.titulos.length > 0){
                    this.tieneExperiencia = 'Sí';
                }else{
                    this.tieneExperiencia = 'No';
                }
                EventBus.$emit('porcentajeEduInformal',14);
                EventBus.$emit('loading-close')
            },
            async getParametricas(){
                try {
                    this.parametricas.paises = (await PaisService.all()).data;
                    this.parametricas.tipoCertificacions = (await TipoCertificacionService.all()).data;
                }catch (e) {
                    console.log(e)
                    this.$swal({
                        title: "Error!",
                        text: e.response.data.error.toString(),
                        icon: "error",
                    })
                }finally {
                    EventBus.$emit('loading-close')
                }
            },
            async agregarEducacion(){
                try {
                    await EducacionInformalService.store(this.form);
                    this.$swal({
                        title: "Bien!!",
                        text: 'Tus datos se actualizaron correctamente',
                        icon: "success",
                    }).then(()=>{
                        EventBus.$emit('loading')
                        this.mostrarForm = false;
                        this.getTitulos()
                    })
                } catch (error) {
                    console.log(error)
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                } finally {
                    EventBus.$emit('loading-close')
                }
            },
            async updateEducacion(){
                try {
                    await EducacionInformalService.update(this.form.id,this.form);
                    this.$swal({
                        title: "Bien!!",
                        text: 'Tus datos se actualizaron correctamente',
                        icon: "success",
                    }).then(()=>{
                        EventBus.$emit('loading')
                        this.mostrarForm = false;
                        this.getTitulos()
                    })
                } catch (error) {
                    console.log(error)
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                } finally {
                    EventBus.$emit('loading-close')
                }
            },
            async editarTitulo(titulo){
                this.form = titulo;
                if(titulo.pais_id !== null){
                    this.select.pais = this.paises.find((item)=>{
                        return Number(titulo.pais_id) === Number(item.code)
                    });
                }
                if(titulo.tipo_certificacion_id !== null){
                    this.select.tipoCertificacion = this.tipoCertificacions.find((item)=>{
                        return Number(titulo.tipo_certificacion_id) === Number(item.code)
                    });
                }
                if(titulo.estado_certificado){
                    this.form.estado_certificado = true;
                }
                this.action = 'Editar'
                this.mostrarForm = true;
            },
            agregarButton(){
                this.form = {
                    pais_id: "",
                    tipo_certificacion_id: "",
                    institucion: "",
                    nombre_programa: "",
                    estado_certificado: 0,
                    duracion_horas: ""
                };
                this.select = {
                    pais:"",
                    tipoCertificacion:"",
                };
                this.action = 'Crear';
                this.mostrarForm = true;
            },
            async sendForm(){
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    EventBus.$emit('loading')
                    this.form.persona_id = this.$store.state.AuthModule.authPerfilLaboral.persona_id;
                    if (this.select.pais !== null && this.select.pais !== "") {
                        this.form.pais_id = this.select.pais.code;
                    }
                    if (this.select.tipoCertificacion !== null && this.select.tipoCertificacion !== "") {
                        this.form.tipo_certificacion_id = this.select.tipoCertificacion.code;
                    }
                    if(this.action === 'Crear'){
                        this.agregarEducacion()
                    }else{
                        this.updateEducacion()
                    }
                }else{
                    this.$swal({
                        title: "Error!",
                        text: 'Debes corregir los errores antes de enviar',
                        icon: "error",
                    })
                }
            },
            async eliminarTitulo(id){
                let swalConfirm = await this.$swal({
                    title: "¿Estás seguro?",
                    text: '¿Deseas eliminar este nivel educativo?',
                    buttons:["No, cancelar!", "Si, eliminar"],
                    icon: "warning",
                });
                if(swalConfirm){
                    try {
                        EventBus.$emit('loading');
                        await EducacionInformalService.delete(id);
                        EventBus.$emit('loading-close');
                        this.$swal({
                            title: "Bien!!",
                            text: 'Se eliminó correctamente el nivel educativo',
                            icon: "success",
                        }).then(()=>{
                            EventBus.$emit('loading');
                            this.getTitulos()
                        })
                    } catch (error) {
                        console.log(error);
                        this.$swal({
                            title: "Error!",
                            text: error.response.data.error.toString(),
                            icon: "error",
                        })
                    } finally {
                        EventBus.$emit('loading-close')
                    }
                }
            },
            selectTieneExperiencia(){
                this.mostrarForm = this.tieneExperiencia === 'Sí';
                if(this.tieneExperiencia === 'Sí' && this.titulos.length === 0){
                    EventBus.$emit('porcentajeEduInformal',0)
                }else{
                    EventBus.$emit('porcentajeEduInformal',14)
                }
            }
        },
        mounted() {
            EventBus.$emit('loading');
            setTimeout(this.getTitulos(),1500);
            this.getParametricas()
        },
        computed:{
            paises(){
                let arr = [];
                this.parametricas.paises.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            },
            tipoCertificacions(){
                let arr = [];
                this.parametricas.tipoCertificacions.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            },
        }
    }
</script>

<style>

</style>
