<template>
    <div>
        <div class="d-flex mb-3">
            <p class="mb-0 mr-2">¿Tiene educación formal?</p>
            <select @change="selectTieneExperiencia" :disabled="titulos.length > 0" v-model="tieneExperiencia" style="width: auto" class="form-control form-control-normal">
                <option>No</option>
                <option>Sí</option>
            </select>
        </div>
        <transition name="fade" mode="out-in">
        <div v-if="!mostrarForm" key="form">
            <div  v-for="titulo in titulos" class="bg-white shadow border p-3 mb-3">
                <div class="row">
                    <div class="col-8 px-0">
                        <h4 class="text-black pl-2">
                            <span class="text-bold">{{titulo.titulo_obtenido}}</span>
                            | {{titulo.estado}}
                        </h4>
                        <p class="pl-2 mb-0"><b>Institución: </b>
                            {{(titulo.universidad_id !== null ? titulo.universidad.descripcion : titulo.institucion)
                            +(titulo.pais_id !== null ? ' - '+titulo.pais.descripcion : '')}}
                        </p>
                        <p class="pl-2 mb-0"><b>Título homologado: </b>{{tituloNivel(titulo)}}</p>
                        <p class="pl-2 mb-0" v-if="tituloNucleo(titulo) !== null"><b>Núcleo de conocimiento: </b>{{tituloNucleo(titulo).descripcion}}</p>
                        <p class="pl-2 mb-0"><b>Interesado en práctica empresarial: </b>{{titulo.practica_empresarial ? 'Sí': 'No'}}</p>
                    </div>
                    <div class="col-4 text-right">
                        <a href="javascript:void(0)" @click="editarTitulo(titulo)">
                            <i class="fas fa-pen mr-3"></i>
                        </a>
                        <a href="javascript:void(0)" @click="eliminarTitulo(titulo.id)">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <button class="btn btn-danger" type="button" @click="agregarButton" v-if="titulos.length > 0">+ Agregar Educación</button>
            </div>
        </div>
        <div class="bg-white shadow border p-3" v-if="mostrarForm" key="no-form">
            <ValidationObserver ref="observer" tag="form" @submit.prevent="sendForm()">
                <div class="row">
                    <div class="col col-12 px-1">
                        <ValidationProvider rules="required" v-slot="{ errors }" name="nivel educativo">
                            <label for="nivelEducativo">Nivel Educativo<span class="text-danger">*</span></label>
                            <v-select class="v-select-normal" :options="nivelesEducativos" id="nivelEducativo" v-model="select.nivelEducativo" @input="getEducacionCategorias"></v-select>
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                    <div class="col col-12 px-1" v-if="Number(select.nivelEducativo.code) > 4">
                        <ValidationProvider :rules="otraInstitucion ? '' : 'required'" v-slot="{ errors }" name="institución">
                            <label for="universidad">Buscar institución<span class="text-danger">{{otraInstitucion ? '' : '*'}}</span></label>
                            <v-select class="v-select-normal" :options="universidades" id="universidad" v-model="select.universidad"></v-select>
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                    <div class="col col-12 px-1" v-if="Number(select.nivelEducativo.code) > 4">
                        <b-form-checkbox
                                id="otra_institucion"
                                v-model="otraInstitucion"
                                name="otra_institucion"
                                :value="true"
                                :unchecked-value="false"
                                @input="()=>{select.universidad = ''; form.universidad_id = ''}"
                        >
                            Otra Institución
                        </b-form-checkbox>
                    </div>
                    <div class="col col-12 px-1" v-if="Number(select.nivelEducativo.code) < 5 || otraInstitucion">
                        <ValidationProvider rules="required" v-slot="{ errors }" name="institución">
                            <label for="institucion">Institución<span class="text-danger">*</span></label>
                            <input id="institucion" v-model="form.institucion" class="form-control form-control-normal">
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                    <div class="col col-12 px-1" v-if="Number(select.nivelEducativo.code) > 5">
                        <ValidationProvider rules="required" v-slot="{ errors }" name="nivel educativo">
                            <label for="nucleo_conocimiento">Núcleo de Conocimiento<span class="text-danger">*</span></label>
                            <v-select class="v-select-normal" :options="educacionNucleos" id="nucleo_conocimiento" v-model="select.educacionNucleo" @input="getEducacionCategorias"></v-select>
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                    <div class="col col-12 col-md-6 px-1">
                        <ValidationProvider rules="required" v-slot="{ errors }" :name="Number(select.nivelEducativo.code)!==5?'título Homologado':'área de desempeño'">
                            <label for="titulo_homologado">{{Number(select.nivelEducativo.code)!==5?'Título Homologado':'Área de desempeño'}}<span class="text-danger">*</span></label>
                            <v-select class="v-select-normal" :options="educacionCategorias" id="titulo_homologado" v-model="select.educacionCategoria"></v-select>
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                    <div class="col col-12 col-md-6 px-1">
                        <ValidationProvider rules="required" v-slot="{ errors }" name="titulo obtenido">
                            <label for="titulo_obtenido">Título obtenido<span class="text-danger">*</span></label>
                            <input id="titulo_obtenido" v-model="form.titulo_obtenido" class="form-control form-control-normal">
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                    <div class="col col-12 px-1" v-if="Number(select.nivelEducativo.code) > 4">
                        <ValidationProvider rules="required" v-slot="{ errors }" name="país">
                            <label for="pais">País<span class="text-danger">*</span></label>
                            <v-select class="v-select-normal" :options="paises" id="pais" v-model="select.pais"></v-select>
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                    <div class="col col-12 col-md-6 px-1">
                        <ValidationProvider rules="required" v-slot="{ errors }" name="estado">
                            <label for="estado">Estado<span class="text-danger">*</span></label>
                            <v-select class="v-select-normal" :options="['En Curso','Incompleto','Graduado']" id="estado" v-model="form.estado"></v-select>
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                    <div class="col col-12 col-md-6 px-1">
                        <ValidationProvider rules="" v-slot="{ errors }" name="observaciones">
                            <label for="observaciones">Observaciones</label>
                            <input id="observaciones" v-model="form.observaciones" class="form-control form-control-normal">
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                    <div class="col col-12 px-1">
                        <b-form-checkbox
                                id="practica_empresarial"
                                v-model="form.practica_empresarial"
                                name="practica_empresarial"
                                :value="true"
                                :unchecked-value="false"
                        >
                            ¿Está interesado en realizar práctica empresarial?
                        </b-form-checkbox>
                    </div>
                </div>
                <div class="row justify-content-center mt-4">
                    <a v-if="titulos.length > 0" class="d-block align-self-center mr-3" href="javascript:void(0)" @click="mostrarForm = false">Volver</a>
                    <button class="btn btn-danger" type="submit">Guardar</button>
                </div>
            </ValidationObserver>
        </div>
    </transition>
    </div>
</template>

<script>
    import EducacionFormalService from "../../../../services/oferente/EducacionFormalService";
    import {EventBus} from "../../../../EventBus";
    import UniversidadService from "../../../../services/parametricas/UniversidadService";
    import PaisService from "../../../../services/parametricas/PaisService";
    import NivelEducativoService from "../../../../services/parametricas/NivelEducativoService";
    import EducacionNucleoService from "../../../../services/parametricas/EducacionNucleoService";
    import EducacionCategoriaService from "../../../../services/parametricas/EducacionCategoriaService";

    export default {
        name:"educacion",
        data(){
            return {
                form:{
                    persona_id:localStorage.getItem('persona_id'),
                    pais_id:"",
                    titulo_homologado_id: "",
                    area_desempeno_id: "",
                    titulo_obtenido: "",
                    institucion: "",
                    universidad_id: "",
                    estado: "",
                    observaciones: "",
                    practica_empresarial: 0
                },
                titulos:[],
                parametricas:{
                    paises:[],
                    educacionNucleos:[],
                    educacionCategorias:[],
                    nivelesEducativos:[],
                    universidades:[],
                },
                select:{
                    pais:"",
                    educacionNucleo:"",
                    educacionCategoria:"",
                    nivelEducativo:"",
                    universidad:"",
                },
                otraInstitucion:false,
                mostrarForm: false,
                action:'Crear',
                tieneExperiencia: 'No',
            }
        },
        methods:{
            async getTitulos(){
                let personaId = localStorage.getItem('persona_id');
                let titulos = await EducacionFormalService.all(personaId);
                this.titulos = titulos.data;
                if(this.titulos.length > 0){
                    this.tieneExperiencia = 'Sí'
                }else{
                    this.tieneExperiencia = 'No'
                }
                EventBus.$emit('porcentajeEduFormal',14);
                EventBus.$emit('loading-close')
            },
            async getParametricas(){
                try {
                    this.parametricas.universidades = (await UniversidadService.all()).data;
                    this.parametricas.paises = (await PaisService.all()).data;
                    this.parametricas.nivelesEducativos = (await NivelEducativoService.all()).data;
                    this.parametricas.educacionNucleos = (await EducacionNucleoService.all()).data;
                }catch (e) {
                    console.log(e)
                    this.$swal({
                        title: "Error!",
                        text: e.response.data.error.toString(),
                        icon: "error",
                    })
                }finally {
                    EventBus.$emit('loading-close')
                }
            },
            async agregarEducacion(){
                try {
                    await EducacionFormalService.store(this.form);
                    this.$swal({
                        title: "Bien!!",
                        text: 'Tus datos se actualizaron correctamente',
                        icon: "success",
                    }).then(()=>{
                        EventBus.$emit('loading')
                        this.mostrarForm = false;
                        this.getTitulos()
                    })
                } catch (error) {
                    console.log(error)
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                } finally {
                    EventBus.$emit('loading-close')
                }
            },
            async updateEducacion(){
                try {
                    await EducacionFormalService.update(this.form.id,this.form);
                    this.$swal({
                        title: "Bien!!",
                        text: 'Tus datos se actualizaron correctamente',
                        icon: "success",
                    }).then(()=>{
                        EventBus.$emit('loading')
                        this.mostrarForm = false;
                        this.getTitulos()
                    })
                } catch (error) {
                    console.log(error)
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                } finally {
                    EventBus.$emit('loading-close')
                }
            },
            async getEducacionCategorias(clearInstitucion = true){
                EventBus.$emit('loading');
                this.select.educacionCategoria = "";
                if(clearInstitucion) {
                    this.form.institucion = "";
                }
                let nivelEducativo = '';
                let educacionNucleo = '';
                if(this.select.nivelEducativo !== "" && this.select.nivelEducativo !== null){
                    nivelEducativo = this.select.nivelEducativo.code;
                }
                if(this.select.educacionNucleo !== "" && this.select.educacionNucleo !== null){
                    educacionNucleo = this.select.educacionNucleo.code;
                }
                this.parametricas.educacionCategorias =  (await EducacionCategoriaService.all(
                    '?nivel_educativo_id='+nivelEducativo+'&educacion_nucleo_id='+educacionNucleo)).data;
                console.log(this.parametricas.educacionCategorias)
                EventBus.$emit('loading-close')
            },
            tituloNivel(titulo){
                if(titulo.titulo_homologado !== null){
                    return titulo.titulo_homologado.descripcion;
                }else{
                    return titulo.area_desempeno.descripcion;
                }
            },
            tituloNucleo(titulo){
                if(titulo.titulo_homologado !== null){
                    return titulo.titulo_homologado.nucleo_conocimiento;
                }else{
                    return titulo.area_desempeno.nucleo_conocimiento;
                }
            },
            agregarButton(){
                this.form = {
                    pais_id:"",
                    titulo_homologado_id: "",
                    area_desempeno_id: "",
                    titulo_obtenido: "",
                    institucion: "",
                    universidad_id: "",
                    estado: "",
                    observaciones: "",
                    practica_empresarial: 0
                };
                this.select = {
                    pais:"",
                    educacionNucleo:"",
                    educacionCategoria:"",
                    nivelEducativo:"",
                    universidad:"",
                };
                this.otraInstitucion = false;
                this.action = 'Crear';
                this.mostrarForm = true;
            },
            async editarTitulo(titulo){
                this.form = titulo;
                if(titulo.titulo_homologado !== null){
                    if(titulo.titulo_homologado.educacion_nucleo_id !== null){
                        this.select.educacionNucleo = this.educacionNucleos.find((item)=>{
                            return Number(titulo.titulo_homologado.educacion_nucleo_id) === Number(item.code)
                        });
                    }
                    if(titulo.titulo_homologado.nivel_educativo_id !== null){
                        this.select.nivelEducativo = this.nivelesEducativos.find((item)=>{
                            return Number(titulo.titulo_homologado.nivel_educativo_id) === Number(item.code)
                        });
                    }
                }
                if(titulo.pais_id !== null){
                    this.select.pais = this.paises.find((item)=>{
                        return Number(titulo.pais_id) === Number(item.code)
                    });
                }
                if(titulo.universidad_id !== null){
                    this.select.universidad = this.universidades.find((item)=>{
                        return Number(titulo.universidad_id) === Number(item.code)
                    });
                }else{
                    this.otraInstitucion = true;
                }
                if(titulo.area_desempeno !== null){
                    if(titulo.area_desempeno.nivel_educativo_id !== null){
                        this.select.nivelEducativo = this.nivelesEducativos.find((item)=>{
                            return Number(titulo.area_desempeno.nivel_educativo_id) === Number(item.code)
                        });
                    }
                }
                await this.getEducacionCategorias(false);
                if(titulo.area_desempeno !== null){
                    this.select.educacionCategoria = this.educacionCategorias.find((item)=>{
                        return Number(titulo.area_desempeno_id) === Number(item.code)
                    });
                }
                if(titulo.titulo_homologado !== null) {
                    this.select.educacionCategoria = this.educacionCategorias.find((item) => {
                        return Number(titulo.titulo_homologado_id) === Number(item.code)
                    });
                }
                if(titulo.practica_empresarial){
                    this.form.practica_empresarial = true;
                }
                this.action = 'Editar'
                this.mostrarForm = true;
            },
            async sendForm(){
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    EventBus.$emit('loading')
                    this.form.persona_id = this.$store.state.AuthModule.authPerfilLaboral.persona_id;
                    if (Number(this.select.nivelEducativo.code) > 4) {
                        if (this.select.pais !== null && this.select.pais !== "") {
                            this.form.pais_id = this.select.pais.code;
                        }
                        if (this.select.universidad !== null && this.select.universidad !== "") {
                            this.form.universidad_id = this.select.universidad.code;
                        }
                    }
                    if (this.select.educacionCategoria !== null && this.select.educacionCategoria !== "") {
                        if (Number(this.select.nivelEducativo.code) !== 5) {
                            this.form.titulo_homologado_id = this.select.educacionCategoria.code;
                        } else {
                            this.form.area_desempeno_id = this.select.educacionCategoria.code;
                        }
                    }
                    if(this.action === 'Crear'){
                        this.agregarEducacion()
                    }else{
                        this.updateEducacion()
                    }
                }else{
                    this.$swal({
                        title: "Error!",
                        text: 'Debes corregir los errores antes de enviar',
                        icon: "error",
                    })
                }
            },
            async eliminarTitulo(id){
                let swalConfirm = await this.$swal({
                    title: "¿Estás seguro?",
                    text: '¿Deseas eliminar este nivel educativo?',
                    buttons:["No, cancelar!", "Si, eliminar"],
                    icon: "warning",
                });
                if(swalConfirm){
                    try {
                        EventBus.$emit('loading')
                        await EducacionFormalService.delete(id);
                        EventBus.$emit('loading-close')
                        this.$swal({
                            title: "Bien!!",
                            text: 'Se eliminó correctamente el nivel educativo',
                            icon: "success",
                        }).then(()=>{
                            EventBus.$emit('loading')
                            this.getTitulos()
                        })
                    } catch (error) {
                        console.log(error)
                        this.$swal({
                            title: "Error!",
                            text: error.response.data.error.toString(),
                            icon: "error",
                        })
                    } finally {
                        EventBus.$emit('loading-close')
                    }
                }
            },
            selectTieneExperiencia(){
                this.mostrarForm = this.tieneExperiencia === 'Sí';
                if(this.tieneExperiencia === 'Sí' && this.titulos.length === 0){
                    EventBus.$emit('porcentajeEduFormal',0)
                }else{
                    EventBus.$emit('porcentajeEduFormal',14)
                }
            }
        },
        mounted() {
            EventBus.$emit('loading')
            setTimeout(this.getTitulos(),1500)
            this.getParametricas()
        },
        computed:{
            nivelesEducativos(){
                let arr = [];
                this.parametricas.nivelesEducativos.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            },
            universidades(){
                let arr = [];
                this.parametricas.universidades.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            },
            paises(){
                let arr = [];
                this.parametricas.paises.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            },
            educacionNucleos(){
                let arr = [];
                this.parametricas.educacionNucleos.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            },
            educacionCategorias(){
                let arr = [];
                this.parametricas.educacionCategorias.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            },
        }
    }
</script>

<style>

</style>
