<template>
    <div>
        <div class="d-flex mb-3">
            <p class="mb-0 mr-2">¿Tiene experiencia laboral? </p>
            <select @change="selectTieneExperiencia" :disabled="titulos.length > 0" v-model="tieneExperiencia" style="width: auto" class="form-control form-control-normal">
                <option>No</option>
                <option>Sí</option>
            </select>
        </div>
        <transition name="fade" mode="out-in">
            <div v-if="!mostrarForm" key="form">
                <div  v-for="titulo in titulos" class="bg-white shadow border p-3 mb-3">
                    <div class="row">
                        <div class="col-8 px-0 d-flex">
                            <h4 class="text-black pl-2 mb-2 mr-3">
                                <span class="text-bold">{{titulo.empresa}}</span> | {{titulo.cargo}} ({{titulo.cargo_equivalente.descripcion}})
                            </h4>
                        </div>
                        <div class="col-4 text-right">
                            <a href="javascript:void(0)" @click="editarTitulo(titulo)">
                                <i class="fas fa-pen mr-3"></i>
                            </a>
                        </div>
                        <div class="col col-12 col-md-6 px-3">
                            <p class="mb-0"><b>Tipo de experiencia: </b>{{titulo.tipo_experiencia_laboral.descripcion}}</p>
                            <p class="mb-0"><b>Sector económico: </b>{{titulo.actividad_economica.descripcion}}</p>
                            <p class="mb-0"><b>País: </b>{{titulo.pais.descripcion}}</p>
                            <p class="mb-0"><b>Fecha: </b>{{titulo.mes_ingreso+' '+titulo.ano_ingreso}} - {{titulo.ano_retiro !== '' && titulo.ano_retiro !== null ? (titulo.mes_retiro+' '+titulo.ano_retiro) : 'Actualidad'}}</p>
                        </div>
                        <div class="col col-12 col-md-6 px-3">
                            <p class="mb-0" v-if="titulo.telefono_empresa !== '' && titulo.telefono_empresa !== null"><b>Teléfono de la empresa: </b>{{titulo.telefono_empresa}}</p>
                            <p class="mb-0" v-if="titulo.numero_personas !== '' && titulo.numero_personas !== null"><b>Número de personas: </b>{{titulo.numero_personas}}</p>
                            <p class="mb-0" v-if="titulo.producto !== '' && titulo.producto !== null"><b>Producto o servicio que comercializa: </b>{{titulo.producto}}</p>
                        </div>
                        <div class="col col-12 px-3">
                            <p class="mb-0"><b>Funciones y logros: </b>{{titulo.funciones_logros}}</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-4">
                    <button class="btn btn-danger" type="button" v-if="titulos.length > 0" @click="agregarButton">+ Agregar Experiencia</button>
                </div>
            </div>
            <div class="bg-white shadow border p-3" v-if="mostrarForm" key="no-form">
                <ValidationObserver ref="observer" tag="form" @submit.prevent="sendForm()">
                    <div class="row">
                        <div class="col col-12 col-md-6 px-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="tipo de experiencia laboral">
                                <label for="tipo_experiencia">Tipo de experiencia laboral<span class="text-danger">*</span></label>
                                <v-select class="v-select-normal" :options="tipoExperienciaLaborals" id="tipo_experiencia" v-model="select.tipoExperienciaLaboral"></v-select>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 col-md-6 px-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="nombre de la empresa">
                                <label for="empresa">Nombre de la empresa<span class="text-danger">*</span></label>
                                <input id="empresa" v-model="form.empresa" class="form-control form-control-normal">
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div v-if="select.tipoExperienciaLaboral.label === 'Independiente'" class="col col-12 col-md-6 px-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="producto">
                                <label for="producto">¿Qué producto o servicio, produce o comercializa?<span class="text-danger">*</span></label>
                                <input id="producto" v-model="form.producto" class="form-control form-control-normal">
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div v-if="select.tipoExperienciaLaboral.label === 'Independiente'" class="col col-12 col-md-6 px-1">
                            <ValidationProvider rules="required|numeric" v-slot="{ errors }" name="número de personas">
                                <label for="numero_personas">¿Cuántas personas trabajan con usted?<span class="text-danger">*</span></label>
                                <input id="numero_personas" v-model="form.numero_personas" class="form-control form-control-normal">
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 col-md-6 px-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="sector">
                                <label for="sector">Sector<span class="text-danger">*</span></label>
                                <v-select class="v-select-normal" :options="actividadEconomicas" id="sector" v-model="select.actividadEconomica"></v-select>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 col-md-6 px-1">
                            <ValidationProvider rules="numeric" v-slot="{ errors }" name="teléfono">
                                <label for="telefono_empresa">Teléfono de la empresa</label>
                                <input id="telefono_empresa" v-model="form.telefono_empresa" class="form-control form-control-normal">
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 col-md-6 px-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="país">
                                <label for="pais">País<span class="text-danger">*</span></label>
                                <v-select class="v-select-normal" :options="paises" id="pais" v-model="select.pais"></v-select>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 col-md-6 px-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="cargo">
                                <label for="cargo">Cargo<span class="text-danger">*</span></label>
                                <input id="cargo" v-model="form.cargo" class="form-control form-control-normal">
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 px-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="cargo equivalente">
                                <label for="cargo_eq">Cargo equivalente<span class="text-danger">*</span></label>
                                <v-select class="v-select-normal" :options="cargoEquivalentes" id="cargo_eq" v-model="select.cargoEquivalente"></v-select>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 px-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="funciones y logros">
                                <label for="funciones_logros">Funciones y logros<span class="text-danger">*</span></label>
                                <textarea id="funciones_logros" rows="7" v-model="form.funciones_logros" class="form-control form-control-normal"></textarea>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 px-1 mt-3">
                            <b-form-checkbox
                                    id="trabajaAquiActualmente"
                                    v-model="trabajaAquiActualmente"
                                    name="trabajaAquiActualmente"
                                    :value="true"
                                    :unchecked-value="false"
                            >
                                Trabajo aquí actualmente
                            </b-form-checkbox>
                        </div>
                        <div class="col col-12 col-md-6 px-1 mt-3">
                            <p class="mb-1"><b>Fecha de ingreso:</b></p>
                            <div class="row">
                                <div class="col px-1">
                                    <ValidationProvider rules="required" v-slot="{ errors }" name="mes de ingreso">
                                        <label for="mes_ingreso">Mes<span class="text-danger">*</span></label>
                                        <select v-model="form.mes_ingreso" name="mes_ingreso" id="mes_ingreso" class="form-control form-control-normal">
                                            <option v-for="mes in parametricas.meses">{{mes}}</option>
                                        </select>
                                        <small class="text-danger">{{errors[0]}}</small>
                                    </ValidationProvider>
                                </div>
                                <div class="col px-1">
                                    <ValidationProvider rules="required" v-slot="{ errors }" name="año de ingreso">
                                        <label for="ano_ingreso">Año<span class="text-danger">*</span></label>
                                        <select v-model="form.ano_ingreso" name="ano_ingreso" id="ano_ingreso" class="form-control form-control-normal">
                                            <option v-for="year in years">{{year}}</option>
                                        </select>
                                        <small class="text-danger">{{errors[0]}}</small>
                                    </ValidationProvider>
                                </div>
                            </div>
                        </div>
                        <div class="col col-12 col-md-6 pl-1 pr-2 mt-3" v-if="!trabajaAquiActualmente">
                            <p class="mb-1"><b>Fecha de retiro:</b></p>
                            <div class="row">
                                <div class="col px-1">
                                    <ValidationProvider rules="required" v-slot="{ errors }" name="mes de retiro">
                                        <label for="mes_retiro">Mes<span class="text-danger">*</span></label>
                                        <select v-model="form.mes_retiro" name="mes_retiro" id="mes_retiro" class="form-control form-control-normal">
                                            <option v-for="mes in parametricas.meses">{{mes}}</option>
                                        </select>
                                        <small class="text-danger">{{errors[0]}}</small>
                                    </ValidationProvider>
                                </div>
                                <div class="col pl-2 pr-1">
                                    <ValidationProvider rules="required" v-slot="{ errors }" name="año de retiro">
                                        <label for="ano_retiro">Año<span class="text-danger">*</span></label>
                                        <select v-model="form.ano_retiro" name="ano_retiro" id="ano_retiro" class="form-control form-control-normal">
                                            <option v-for="year in years">{{year}}</option>
                                        </select>
                                        <small class="text-danger">{{errors[0]}}</small>
                                    </ValidationProvider>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <a class="d-block align-self-center mr-3" href="javascript:void(0)" @click="mostrarForm = false">Volver</a>
                        <button class="btn btn-danger" type="submit">Guardar</button>
                    </div>
                </ValidationObserver>
            </div>
        </transition>
    </div>
</template>

<script>
    import {EventBus} from "../../../../EventBus";
    import ExperienciaLaboralService from "../../../../services/oferente/ExperienciaLaboralService";
    import TipoExperienciaLaboralService from "../../../../services/parametricas/TipoExperienciaLaboralService";
    import ActividadEconomicaService from "../../../../services/parametricas/ActividadEconomicaService";
    import CargoInteresService from "../../../../services/parametricas/CargoInteresService";
    import PaisService from "../../../../services/parametricas/PaisService";
    import moment from 'moment';

    export default {
        name:"experiencia",
        data(){
            return {
                form:{
                    tipo_experiencia_laboral_id: "",
                    actividad_economica_id: "",
                    empresa: "",
                    telefono_empresa: "",
                    pais_id: "",
                    cargo: "",
                    cargo_equivalente_id: "",
                    funciones_logros: "",
                    mes_ingreso: "",
                    ano_ingreso: "",
                    mes_retiro: "",
                    ano_retiro: "",
                    numero_personas: "",
                    producto: "",
                },
                titulos:[],
                parametricas:{
                    tipoExperienciaLaborals:[],
                    actividadEconomicas:[],
                    cargoEquivalentes:[],
                    paises:[],
                    meses:[
                        'Enero',
                        'Febrero',
                        'Marzo',
                        'Abril',
                        'Mayo',
                        'Junio',
                        'Julio',
                        'Agosto',
                        'Septiembre',
                        'Octubre',
                        'Noviembre',
                        'Diciembre'
                    ],
                },
                select:{
                    tipoExperienciaLaboral:"",
                    actividadEconomica:"",
                    cargoEquivalente:"",
                    pais:"",
                },
                mostrarForm: false,
                action:'Crear',
                trabajaAquiActualmente: false,
                tieneExperiencia: 'Sí'
            }
        },
        methods:{
            async getTitulos(){
                let titulos = await ExperienciaLaboralService.all();
                this.titulos = titulos.data;
                if(this.titulos.length > 0){
                    this.tieneExperiencia = 'Sí'
                }else{
                    this.tieneExperiencia = 'No'
                }
                EventBus.$emit('porcentajeExperiencia',14)
                EventBus.$emit('loading-close')
            },
            async getParametricas(){
                try {
                    this.parametricas.tipoExperienciaLaborals = (await TipoExperienciaLaboralService.all()).data;
                    this.parametricas.actividadEconomicas = (await ActividadEconomicaService.all()).data;
                    this.parametricas.cargoEquivalentes = (await CargoInteresService.all()).data;
                    this.parametricas.paises = (await PaisService.all()).data;
                }catch (e) {
                    console.log(e)
                    this.$swal({
                        title: "Error!",
                        text: e.response.data.error.toString(),
                        icon: "error",
                    })
                }finally {
                    EventBus.$emit('loading-close')
                }
            },
            async agregarExperiencia(){
                try {
                    await ExperienciaLaboralService.store(this.form);
                    this.$swal({
                        title: "Bien!!",
                        text: 'Tus datos se actualizaron correctamente',
                        icon: "success",
                    }).then(()=>{
                        EventBus.$emit('loading')
                        this.mostrarForm = false;
                        this.getTitulos()
                    })
                } catch (error) {
                    console.log(error)
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                } finally {
                    EventBus.$emit('loading-close')
                }
            },
            async updateExperiencia(){
                try {
                    await ExperienciaLaboralService.update(this.form.id,this.form);
                    this.$swal({
                        title: "Bien!!",
                        text: 'Tus datos se actualizaron correctamente',
                        icon: "success",
                    }).then(()=>{
                        EventBus.$emit('loading')
                        this.mostrarForm = false;
                        this.getTitulos()
                    })
                } catch (error) {
                    console.log(error)
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                } finally {
                    EventBus.$emit('loading-close')
                }
            },
            agregarButton(){
                this.form = {
                    tipo_experiencia_laboral_id: "",
                    actividad_economica_id: "",
                    empresa: "",
                    telefono_empresa: "",
                    pais_id: "",
                    cargo: "",
                    cargo_equivalente_id: "",
                    funciones_logros: "",
                    mes_ingreso: "",
                    ano_ingreso: "",
                    mes_retiro: "",
                    ano_retiro: "",
                    numero_personas: "",
                    producto: "",
                };
                this.select = {
                    tipoExperienciaLaboral:"",
                    actividadEconomica:"",
                    cargoEquivalente:"",
                    pais:"",
                };
                this.action = 'Crear';
                this.mostrarForm = true;
                this.trabajaAquiActualmente = false;
            },
            async editarTitulo(titulo){
                this.form = titulo;
                if(titulo.tipo_experiencia_laboral_id !== null){
                    this.select.tipoExperienciaLaboral = this.tipoExperienciaLaborals.find((item)=>{
                        return Number(titulo.tipo_experiencia_laboral_id) === Number(item.code)
                    });
                }
                if(titulo.actividad_economica_id !== null){
                    this.select.actividadEconomica = this.actividadEconomicas.find((item)=>{
                        return Number(titulo.actividad_economica_id) === Number(item.code)
                    });
                }
                if(titulo.pais_id !== null){
                    this.select.pais = this.paises.find((item)=>{
                        return Number(titulo.pais_id) === Number(item.code)
                    });
                }
                if(titulo.cargo_equivalente_id !== null){
                    this.select.cargoEquivalente = this.cargoEquivalentes.find((item)=>{
                        return Number(titulo.cargo_equivalente_id) === Number(item.code)
                    });
                }
                if(titulo.ano_retiro === null || titulo.ano_retiro === ""){
                    this.trabajaAquiActualmente = true;
                }
                this.action = 'Editar';
                this.mostrarForm = true;
            },
            async sendForm(){
                let pasoValidacion = await this.$refs.observer.validate();
                let pasoValidacionFecha = true;
                if(!this.trabajaAquiActualmente) {
                    if (Number(this.form.ano_retiro) < Number(this.form.ano_ingreso)) {
                        pasoValidacionFecha = false;
                    } else if (Number(this.form.ano_retiro) === Number(this.form.ano_ingreso)) {
                        if (this.parametricas.meses.indexOf(this.form.mes_retiro) <
                            this.parametricas.meses.indexOf(this.form.mes_ingreso)) {
                            pasoValidacionFecha = false;
                        }
                    }
                }
                if (pasoValidacion && pasoValidacionFecha) {
                    EventBus.$emit('loading')
                    if (this.select.pais !== null && this.select.pais !== "") {
                        this.form.pais_id = this.select.pais.code;
                    }
                    if (this.select.actividadEconomica !== null && this.select.actividadEconomica !== "") {
                        this.form.actividad_economica_id = this.select.actividadEconomica.code;
                    }
                    if (this.select.cargoEquivalente !== null && this.select.cargoEquivalente !== "") {
                        this.form.cargo_equivalente_id = this.select.cargoEquivalente.code;
                    }
                    if (this.select.tipoExperienciaLaboral !== null && this.select.tipoExperienciaLaboral !== "") {
                        this.form.tipo_experiencia_laboral_id = this.select.tipoExperienciaLaboral.code;
                    }
                    if(this.trabajaAquiActualmente){
                        this.form.ano_retiro = "";
                        this.form.mes_retiro = "";
                    }
                    if(this.action === 'Crear'){
                        this.agregarExperiencia()
                    }else{
                        this.updateExperiencia()
                    }
                }else{
                    if(!pasoValidacion){
                        this.$swal({
                            title: "Error!",
                            text: 'Debes corregir los errores antes de enviar',
                            icon: "error",
                        })
                    }
                    if(!pasoValidacionFecha){
                        this.$swal({
                            title: "Error!",
                            text: 'La fecha de retiro no debe ser menor a la fecha de ingreso',
                            icon: "error",
                        })
                    }

                }
            },
            selectTieneExperiencia(){
                this.mostrarForm = this.tieneExperiencia === 'Sí';
                if(this.tieneExperiencia === 'Sí' && this.titulos.length === 0){
                    EventBus.$emit('porcentajeExperiencia',0)
                }else{
                    EventBus.$emit('porcentajeExperiencia',14)
                }
            }
        },
        mounted() {
            EventBus.$emit('loading')
            setTimeout(this.getTitulos(),1500)
            this.getParametricas()
        },
        computed:{
            tipoExperienciaLaborals(){
                let arr = [];
                this.parametricas.tipoExperienciaLaborals.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            },
            paises(){
                let arr = [];
                this.parametricas.paises.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            },
            cargoEquivalentes(){
                let arr = [];
                this.parametricas.cargoEquivalentes.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            },
            actividadEconomicas(){
                let arr = [];
                this.parametricas.actividadEconomicas.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            },
            years(){
                let years = [];
                for(let i = 0; i<100; i++){
                    years.push(moment().subtract(i,'years').year())
                }
                return years;
            }
        },

    }
</script>

<style>

</style>
