<template>
    <div class="p-4" style="background: #EFEFEF">
        <div role="tablist">
            <div class="mb-1">
                <div class="p-1" role="tab">
                    <div class="my-accordion-header" v-b-toggle.accordion-1>
                        INFORMACIÓN BÁSICA
                    </div>
                </div>
                <b-collapse class="mx-0" id="accordion-1" visible  role="tabpanel">
                    <DatosPersonales></DatosPersonales>
                    <div class="mb-4"></div>
                    <Perfil></Perfil>
                </b-collapse>
            </div>
            <div class="mb-1">
                <div class="p-1" role="tab">
                    <div class="my-accordion-header" v-b-toggle.accordion-2>
                        EDUCACIÓN
                    </div>
                </div>
                <b-collapse class="mx-0" id="accordion-2" visible role="tabpanel">
                    <Educacion></Educacion>
                </b-collapse>
            </div>
            <div class="mb-1">
                <div class="p-1" role="tab">
                    <div class="my-accordion-header" v-b-toggle.accordion-3>
                        EXPERIENCIA LABORAL
                    </div>
                </div>
                <b-collapse class="mx-0" id="accordion-3" visible role="tabpanel">
                    <Experiencia></Experiencia>
                </b-collapse>
            </div>
            <div class="mb-1">
                <div class="p-1" role="tab">
                    <div class="my-accordion-header" v-b-toggle.accordion-4>
                        EDUCACIÓN INFORMAL
                    </div>
                </div>
                <b-collapse class="mx-0" id="accordion-4" visible role="tabpanel">
                    <EduInformal></EduInformal>
                </b-collapse>
            </div>
            <div class="mb-1">
                <div class="p-1" role="tab">
                    <div class="my-accordion-header" v-b-toggle.accordion-5>
                        IDIOMAS Y HABILIDADES
                    </div>
                </div>
                <b-collapse class="mx-0" id="accordion-5" visible role="tabpanel">
                    <Idiomas></Idiomas>
                    <div class="mb-4"></div>
                    <Habilidades></Habilidades>
                </b-collapse>
            </div>
        </div>
    </div>
</template>

<script>
    import Card from '../../../../components/elementos/card'
    import DatosPersonales from './datos_personales'
    import Educacion from './educacion'
    import Experiencia from './experiencia'
    import EduInformal from './edu_informal'
    import Habilidades from './habilidades'
    import Idiomas from './idiomas'
    import Perfil from './perfil'
    import { EventBus } from '../../../../EventBus'

    export default {
        name:"hoja_vida",
        components:{
            Card,
            DatosPersonales,
            Educacion,
            Experiencia,
            EduInformal,
            Habilidades,
            Idiomas,
            Perfil
        },
        methods:{
            async getInfoPersona(){
                let persona = await this.$store.dispatch('getInfoPersona');
                let perfil = await this.$store.dispatch('getPerfilLaboral');
                localStorage.setItem('persona_id',persona.id)
                EventBus.$emit('loading-close');
                console.log(persona, perfil)
            }
        },
        mounted() {
            EventBus.$emit('loading');
            this.getInfoPersona();
        }
    }
</script>

<style lang="scss" scoped>
    .my-accordion-header{
        text-align: center;
        color: var(--main-rojo);
        font-size: 18px;
        cursor: pointer;
        padding-top: 15px;
        padding-bottom: 15px;
    }
</style>
