<template>
    <div>
        <div class="d-flex mb-3">
            <p class="mb-0 mr-2">¿Conoce otros idiomas?</p>
            <select @change="selectTieneExperiencia" :disabled="titulos.length > 0" v-model="tieneExperiencia" style="width: auto" class="form-control form-control-normal">
                <option>No</option>
                <option>Sí</option>
            </select>
        </div>
        <transition name="fade" mode="out-in">
            <div v-if="!mostrarForm" key="form">
                <div  v-for="titulo in titulos" class="bg-white shadow border p-3 mb-3">
                    <div class="row">
                        <div class="col-8 px-0 d-flex">
                            <h4 class="text-black pl-2 mb-0 mr-3">
                                <span class="text-bold">{{titulo.idioma.descripcion}}</span>
                            </h4>
                            <star-rating :star-size="30" :rating="titulo.nivel" :show-rating="false" read-only></star-rating>
                        </div>
                        <div class="col-4 text-right">
                            <a href="javascript:void(0)" @click="editarTitulo(titulo)">
                                <i class="fas fa-pen mr-3"></i>
                            </a>
                            <a href="javascript:void(0)" @click="eliminarTitulo(titulo.id)">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-4">
                    <button class="btn btn-danger" type="button" v-if="titulos > 0" @click="agregarButton">+ Agregar Idioma</button>
                </div>
            </div>
            <div class="bg-white shadow border p-3" v-if="mostrarForm" key="no-form">
                <ValidationObserver ref="observer" tag="form" @submit.prevent="sendForm()">
                    <div class="row">
                        <div class="col col-12 col-md-6 px-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="idioma">
                                <label for="idioma">Idioma<span class="text-danger">*</span></label>
                                <v-select class="v-select-normal" :options="idiomas" id="idioma" v-model="select.idioma"></v-select>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 col-md-6 px-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="nivel">
                                <label for="nivel">Nivel<span class="text-danger">*</span></label>
                                <star-rating :star-size="30" :show-rating="false" v-model="form.nivel" id="nivel"></star-rating>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <a class="d-block align-self-center mr-3" href="javascript:void(0)" @click="mostrarForm = false">Volver</a>
                        <button class="btn btn-danger" type="submit">Guardar</button>
                    </div>
                </ValidationObserver>
            </div>
        </transition>
    </div>
</template>

<script>
    import {EventBus} from "../../../../EventBus";
    import StarRating from 'vue-star-rating';
    import PersonaIdiomaService from "../../../../services/oferente/PersonaIdiomaService";
    import IdiomaService from "../../../../services/parametricas/IdiomaService";

    export default {
        name:"idiomas",
        data(){
            return {
                form:{
                    persona_id:localStorage.getItem('persona_id'),
                    idioma_id:"",
                    nivel:0
                },
                titulos:[],
                parametricas:{
                    idiomas:[],
                },
                select:{
                    idioma:"",
                },
                mostrarForm: false,
                action:'Crear',
                tieneExperiencia:'No'
            }
        },
        methods:{
            async getTitulos(){
                let personaId = localStorage.getItem('persona_id');
                let titulos = await PersonaIdiomaService.all(personaId);
                this.titulos = titulos.data;
                if(this.titulos.length > 0){
                    this.tieneExperiencia = 'Sí'
                }else{
                    this.tieneExperiencia = 'No'
                }
                EventBus.$emit('porcentajeIdiomas',14)
                EventBus.$emit('loading-close')
            },
            async getParametricas(){
                try {
                    this.parametricas.idiomas = (await IdiomaService.all()).data;
                }catch (e) {
                    console.log(e)
                    this.$swal({
                        title: "Error!",
                        text: e.response.data.error.toString(),
                        icon: "error",
                    })
                }finally {
                    EventBus.$emit('loading-close')
                }
            },
            async agregarEducacion(){
                try {
                    await PersonaIdiomaService.store(this.form);
                    this.$swal({
                        title: "Bien!!",
                        text: 'Tus datos se actualizaron correctamente',
                        icon: "success",
                    }).then(()=>{
                        EventBus.$emit('loading')
                        this.mostrarForm = false;
                        this.getTitulos()
                    })
                } catch (error) {
                    console.log(error)
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                } finally {
                    EventBus.$emit('loading-close')
                }
            },
            async updateEducacion(){
                try {
                    await PersonaIdiomaService.update(this.form.id,this.form);
                    this.$swal({
                        title: "Bien!!",
                        text: 'Tus datos se actualizaron correctamente',
                        icon: "success",
                    }).then(()=>{
                        EventBus.$emit('loading')
                        this.mostrarForm = false;
                        this.getTitulos()
                    })
                } catch (error) {
                    console.log(error)
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                } finally {
                    EventBus.$emit('loading-close')
                }
            },
            agregarButton(){
                this.form = {
                    persona_id:localStorage.getItem('persona_id'),
                    idioma_id:"",
                    nivel:0
                };
                this.select = {
                    idioma: ""
                };
                this.action = 'Crear';
                this.mostrarForm = true;
            },
            async editarTitulo(titulo){
                this.form = titulo;
                if(titulo.idioma_id !== null){
                    this.select.idioma = this.idiomas.find((item)=>{
                        return Number(titulo.idioma_id) === Number(item.code)
                    });
                }
                this.action = 'Editar'
                this.mostrarForm = true;
            },
            async sendForm(){
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    EventBus.$emit('loading')
                    this.form.persona_id = this.$store.state.AuthModule.authPerfilLaboral.persona_id;
                    if (this.select.idioma !== null && this.select.idioma !== "") {
                        this.form.idioma_id = this.select.idioma.code;
                    }
                    if(this.action === 'Crear'){
                        this.agregarEducacion()
                    }else{
                        this.updateEducacion()
                    }
                }else{
                    this.$swal({
                        title: "Error!",
                        text: 'Debes corregir los errores antes de enviar',
                        icon: "error",
                    })
                }
            },
            async eliminarTitulo(id){
                let swalConfirm = await this.$swal({
                    title: "¿Estás seguro?",
                    text: '¿Deseas eliminar este idioma?',
                    buttons:["No, cancelar!", "Si, eliminar"],
                    icon: "warning",
                });
                if(swalConfirm){
                    try {
                        EventBus.$emit('loading')
                        await PersonaIdiomaService.delete(id);
                        EventBus.$emit('loading-close')
                        this.$swal({
                            title: "Bien!!",
                            text: 'Se eliminó correctamente el idioma',
                            icon: "success",
                        }).then(()=>{
                            EventBus.$emit('loading')
                            this.getTitulos()
                        })
                    } catch (error) {
                        console.log(error)
                        this.$swal({
                            title: "Error!",
                            text: error.response.data.error.toString(),
                            icon: "error",
                        })
                    } finally {
                        EventBus.$emit('loading-close')
                    }
                }
            },
            selectTieneExperiencia(){
                this.mostrarForm = this.tieneExperiencia === 'Sí';
                if(this.tieneExperiencia === 'Sí' && this.titulos.length === 0){
                    EventBus.$emit('porcentajeIdiomas',0)
                }else{
                    EventBus.$emit('porcentajeIdiomas',14)
                }
            }
        },
        mounted() {
            EventBus.$emit('loading')
            setTimeout(this.getTitulos(),1500)
            this.getParametricas()
        },
        computed:{
            idiomas(){
                let arr = [];
                this.parametricas.idiomas.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            },
        },
        components: {
            StarRating
        }
    }
</script>

<style>

</style>
