<template>
    <div>
        <transition name="fade" mode="out-in">
            <div key="info" v-if="!showForm" class="bg-white shadow border p-3">
                <div class="row">
                    <div class="col-8 px-0">
                        <h4 class="text-black text-bold pl-2">
                            Perfil Laboral
                        </h4>
                    </div>
                    <div class="col-4 text-right">
                        <a href="javascript:void(0)" @click="showForm = true">
                            <i class="fas fa-pen mr-2"></i> Editar
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="text-sm text-justify"><span class="text-bold">Perfil laboral:</span> {{$store.state.AuthModule.authPerfilLaboral.perfil_laboral}}</div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="text-sm"><span class="text-bold">Aspiración salarial:</span> {{$store.getters.authAspiracionSalarial}}</div>
                        <div class="text-sm"><span class="text-bold">Situación laboral:</span> {{$store.getters.authSituacionLaboral}}</div>
                        <div class="text-sm"><span class="text-bold">Licencia de conducción (moto):</span> {{$store.getters.authTipoLicenciaMoto}}</div>
                        <div class="text-sm"><span class="text-bold">Licencia de conducción (carro):</span> {{$store.getters.authTipoLicenciaCarro}}</div>
                        <div class="text-sm"><span class="text-bold">Cargos de interés:</span> {{$store.getters.authCargosInteres}}</div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="text-sm"><span class="text-bold">Posibilidad de viajar:</span> {{$store.state.AuthModule.authPerfilLaboral.posibilidad_viajar?'Sí':'No'}}</div>
                        <div class="text-sm"><span class="text-bold">Posibilidad de trasladarse:</span> {{$store.state.AuthModule.authPerfilLaboral.posibilidad_trasladarse?'Sí':'No'}}</div>
                        <div class="text-sm"><span class="text-bold">Ofertas de teletrabajo:</span> {{$store.state.AuthModule.authPerfilLaboral.ofertas_teletrabajo?'Sí':'No'}}</div>
                        <div class="text-sm"><span class="text-bold">Propiedad de transporte:</span> {{$store.state.AuthModule.authPerfilLaboral.propiedad_transporte?'Sí':'No'}}</div>
                    </div>
                </div>
            </div>
            <div key="form" v-if="showForm" class="bg-white shadow border p-3">
                <ValidationObserver ref="observer" tag="form" @submit.prevent="updatePerfil()">
                    <h4 class="text-black text-bold pl-2">
                        Perfil Laboral
                    </h4>
                    <div class="row">
                        <div class="col col-12 p-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="perfil laboral">
                                <label for="perfil_laboral">Perfil laboral<span class="text-danger">*</span></label>
                                <textarea id="perfil_laboral" class="form-control form-control-normal" v-model="form.perfil_laboral" cols="30" rows="10">
                                </textarea>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 col-md-6 px-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="situación laboral">
                                <label for="situacion_laboral">Situación laboral<span class="text-danger">*</span></label>
                                <v-select class="v-select-normal" :options="situacionesLaborales" id="situacion_laboral" v-model="select.situacionLaboral"></v-select>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 col-md-6 px-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="aspiración salarial">
                                <label for="aspiracionesSalariales">Aspiración Salarial<span class="text-danger">*</span></label>
                                <v-select class="v-select-normal" :options="aspiracionesSalariales" id="aspiracionesSalariales" v-model="select.aspiracionSalarial"></v-select>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 col-md-6 px-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="licencia carro">
                                <label for="tipoLicenciaCarro">Licencia de conducción carro<span class="text-danger">*</span></label>
                                <v-select class="v-select-normal" :options="tipoLicenciasCarro" id="tipoLicenciaCarro" v-model="select.tipoLicenciaCarro"></v-select>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 col-md-6 px-1">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="licencia moto">
                                <label for="tipoLicenciaMoto">Licencia de conducción moto<span class="text-danger">*</span></label>
                                <v-select class="v-select-normal" :options="tipoLicenciasMoto" id="tipoLicenciaMoto" v-model="select.tipoLicenciaMoto"></v-select>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col col-12 col-md-6 p-1">
                            <b-form-checkbox
                                    id="posibilidad_viajar"
                                    v-model="form.posibilidad_viajar"
                                    name="posibilidad_viajar"
                                    :value="true"
                                    :unchecked-value="false"
                            >
                                Posibilidad de viajar
                            </b-form-checkbox>
                        </div>
                        <div class="col col-12 col-md-6 p-1">
                            <b-form-checkbox
                                    id="posibilidad_trasladarse"
                                    v-model="form.posibilidad_trasladarse"
                                    name="posibilidad_trasladarse"
                                    :value="true"
                                    :unchecked-value="false"
                            >
                                Posibilidad de trasaladarse
                            </b-form-checkbox>
                        </div>
                        <div class="col col-12 col-md-6 p-1">
                            <b-form-checkbox
                                    id="ofertas_teletrabajo"
                                    v-model="form.ofertas_teletrabajo"
                                    name="ofertas_teletrabajo"
                                    :value="true"
                                    :unchecked-value="false"
                            >
                                Acepta ofertas de teletrabajo
                            </b-form-checkbox>
                        </div>
                        <div class="col col-12 col-md-6 p-1">
                            <b-form-checkbox
                                    id="propiedad_transporte"
                                    v-model="form.propiedad_transporte"
                                    name="propiedad_transporte"
                                    :value="true"
                                    :unchecked-value="false"
                            >
                                Tiene medio de transporte propio
                            </b-form-checkbox>
                        </div>
                        <div class="col col-12 px-1">
                            <hr>
                            <b class="py-4">Cargos de interés</b>
                            <multiselect
                                    v-model="select.cargosInteres"
                                    :options="cargosInteres"
                                    :multiple="true"
                                    placeholder="Buscar cargo"
                                    label="name"
                                    track-by="name"
                            ></multiselect>
                        </div>
                        <div class="col col-12 d-flex justify-content-center mt-4">
                            <button @click="showForm = false" class="btn btn-outline-secondary mr-2" type="button">Volver</button>
                            <button class="btn btn-danger" type="submit">Guardar</button>
                        </div>
                    </div>
                </ValidationObserver>
            </div>
        </transition>
    </div>
</template>

<script>
    import {EventBus} from "../../../../EventBus";
    import PersonaService from "../../../../services/PersonaService";
    import AspiracionSalarialService from "../../../../services/parametricas/AspiracionSalarialService";
    import TipoLicenciaService from "../../../../services/parametricas/TipoLicenciaService";
    import CargoInteresService from "../../../../services/parametricas/CargoInteresService";
    import SituacionLaboralService from "../../../../services/parametricas/SituacionLaboralService";
    import Multiselect from 'vue-multiselect'

    export default {
        name:"perfil",
        data(){
            return {
                showForm: false,
                form:{
                    perfil_laboral: "",
                    aspiracion_salarial_id: "",
                    posibilidad_viajar: 0,
                    posibilidad_trasladarse: 0,
                    ofertas_teletrabajo: 0,
                    situacion_laboral_id: "",
                    propiedad_transporte: 0,
                    tipo_licencia_conduccion_carro_id: "",
                    tipo_licencia_conduccion_moto_id: "",
                    cargos_interes: [],
                },
                parametricas:{
                    aspiracionSalarials:[],
                    tipoLicencias:[],
                    cargosInteres:[],
                    situacionLaborals:[],
                },
                select:{
                    tipoLicenciaMoto:"",
                    tipoLicenciaCarro:"",
                    aspiracionSalarial:"",
                    situacionLaboral:"",
                    cargosInteres:[],
                },
            }
        },
        methods: {
            async updatePerfil() {
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    EventBus.$emit('loading')
                    try {
                        if(this.select.aspiracionSalarial !== null && this.select.aspiracionSalarial !== "") {
                            this.form.aspiracion_salarial_id = this.select.aspiracionSalarial.code;
                        }
                        if(this.select.situacionLaboral !== null && this.select.situacionLaboral !== "") {
                            this.form.situacion_laboral_id = this.select.situacionLaboral.code;
                        }
                        if(this.select.tipoLicenciaMoto.code !== "" && this.select.tipoLicenciaMoto.code !== null) {
                            this.form.tipo_licencia_conduccion_moto_id = this.select.tipoLicenciaMoto.code;
                        }
                        if(this.select.tipoLicenciaCarro.code !== "" && this.select.tipoLicenciaCarro.code !== null) {
                            this.form.tipo_licencia_conduccion_carro_id = this.select.tipoLicenciaCarro.code;
                        }
                        for(let i=0; i<this.select.cargosInteres.length; i++){
                            this.form.cargos_interes.push(this.select.cargosInteres[i].id)
                        }
                        await PersonaService.updatePerfil(this.$store.state.AuthModule.authPerfilLaboral.persona_id,this.form);
                        await this.$store.dispatch('getPerfilLaboral')
                        this.$swal({
                            title: "Bien!!",
                            text: 'Tus datos se actualizaron correctamente',
                            icon: "success",
                        }).then(() => {
                            this.showForm = false;
                            this.checkPorcentaje()
                        });
                    } catch (error) {
                        console.log(error)
                        this.$swal({
                            title: "Error!",
                            text: error.response.data.error.toString(),
                            icon: "error",
                        })
                    } finally {
                        EventBus.$emit('loading-close')
                    }
                } else {
                    this.$swal({
                        title: "Error!",
                        text: 'Debes corregir los errores antes de enviar',
                        icon: "error",
                    })
                }
            },
            async getParametricas(){
                try {
                    this.form = this.$store.state.AuthModule.authPerfilLaboral;
                    this.parametricas.aspiracionSalarials = (await AspiracionSalarialService.all()).data;
                    this.parametricas.tipoLicencias = (await TipoLicenciaService.all()).data;
                    this.parametricas.cargosInteres = (await CargoInteresService.all()).data;
                    this.parametricas.situacionLaborals = (await SituacionLaboralService.all()).data;
                    let aspiracion = this.parametricas.aspiracionSalarials.find((item)=>{
                        return Number(this.form.aspiracion_salarial_id) === Number(item.id)
                    });
                    if(aspiracion !== undefined) {
                        this.select.aspiracionSalarial = {label: aspiracion.descripcion, code: aspiracion.id}
                    }
                    let situacionLaboral = this.parametricas.situacionLaborals.find((item)=>{
                        return Number(this.form.situacion_laboral_id) === Number(item.id)
                    });
                    if(situacionLaboral !== undefined) {
                        this.select.situacionLaboral = {label: situacionLaboral.descripcion, code: situacionLaboral.id}
                    }
                    let tipoLicenciaCarro = this.parametricas.tipoLicencias.find((item)=>{
                        return Number(this.form.tipo_licencia_conduccion_carro_id) === Number(item.id)
                    });
                    if(tipoLicenciaCarro !== undefined) {
                        this.select.tipoLicenciaCarro = {label: tipoLicenciaCarro.descripcion, code: tipoLicenciaCarro.id}
                    }else{
                        this.select.tipoLicenciaCarro = {label: "No aplica", code: ""}
                    }
                    let tipoLicenciaMoto = this.parametricas.tipoLicencias.find((item)=>{
                        return Number(this.form.tipo_licencia_conduccion_moto_id) === Number(item.id)
                    });
                    if(tipoLicenciaMoto !== undefined) {
                        this.select.tipoLicenciaMoto = {label: tipoLicenciaMoto.descripcion, code: tipoLicenciaMoto.id}
                    }else{
                        this.select.tipoLicenciaMoto = {label: "No aplica", code: ""}
                    }
                    let cargos = this.form.cargos_interes;
                    for(let i =0; i<cargos.length; i++){
                        this.select.cargosInteres.push({name: cargos[i].descripcion, id:cargos[i].id})
                    }
                }catch (e) {
                    console.log(e)
                    this.$swal({
                        title: "Error!",
                        text: e.response.data.error.toString(),
                        icon: "error",
                    })
                }finally {
                    EventBus.$emit('loading-close')
                }
            },
            checkPorcentaje(){
                this.form = this.$store.state.AuthModule.authPerfilLaboral;
                if(this.form.perfil_laboral !== '' && this.form.aspiracion_salarial_id !== ''
                    && this.form.situacion_laboral_id !== '' && this.form.cargos_interes.length > 0
                    && this.form.perfil_laboral !== null && this.form.aspiracion_salarial_id !== null
                    && this.form.situacion_laboral_id !== null
                ){
                    EventBus.$emit('porcentajePerfilLaboral',15)
                }else{
                    EventBus.$emit('porcentajePerfilLaboral',0)
                }
            }
        },
        computed: {
            aspiracionesSalariales(){
                let arr = [];
                this.parametricas.aspiracionSalarials.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            },
            situacionesLaborales(){
                let arr = [];
                this.parametricas.situacionLaborals.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            },
            cargosInteres(){
                let arr = [];
                this.parametricas.cargosInteres.forEach(item => {
                    arr.push({name: item.descripcion, id: item.id})
                });
                return arr
            },
            tipoLicenciasMoto(){
                let arr = [];
                arr.push({label: 'No aplica', code: ""})
                this.parametricas.tipoLicencias.forEach(item => {
                    if(item.tipo === 'Moto'){
                        arr.push({label: item.descripcion, code: item.id})
                    }
                });
                return arr
            },
            tipoLicenciasCarro(){
                let arr = [];
                arr.push({label: 'No aplica', code: ""})
                this.parametricas.tipoLicencias.forEach(item => {
                    if(item.tipo === 'Carro'){
                        arr.push({label: item.descripcion, code: item.id})
                    }
                });
                return arr
            },


        },
        mounted() {
            EventBus.$emit('loading')
            let vm = this;
            setTimeout(function () {
                vm.getParametricas()
                vm.checkPorcentaje()
            },2000)
        },
        components:{
            Multiselect
        }
    }
</script>


<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
    .multiselect__tag{
        background: #F1D74C !important;
    }
    .multiselect__element:hover, .multiselect__option:hover{
        background: #F1D74C !important;
    }
</style>