:root {
    --main-amarillo: #F1D74C;
    --main-rojo: #dc3545;
}

$primary: #dc3545;

$mainAmarillo: var(--main-amarillo);
$mainRojo: var(--main-rojo);

@media (max-width: 600px){
    .container, .tarjeta{
        // max-width: 900px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}



@import "~bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "vue-select/src/scss/vue-select.scss";

//globals
@import "globals/normalize";
@import "globals/transitions";
@import "globals/utilities";

@import "components/inputs";

