<template>
    <div class="fondo">
        <div>
            <div class="row justify-content-center fixed-top" style="background: var(--main-rojo)">
                <div class="col-6 col-md-4 col-lg-3 col-xl-2 my-2">
                    <img src="/assets/img/gwhite.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="p-3 p-md-5" >
                <h2 class="my-5 my-lg-0" style="color: white; padding-top: 60px"><a href="javascript:void(0)" @click="$router.back()" style="color: rgba(255, 255, 255, .4)" class="mr-2"><i class="fas fa-arrow-left"></i></a><b>Registro</b> | Buscador de Empleo</h2>
                <div class="row justify-content-center p-1 p-lg-5">
                    <div class="col-12 col-md-10 col-lg-8 bg-white p-2 p-md-3 rounded shadow">
                        <ValidationObserver ref="observer" tag="form" @submit.prevent="guardarPersona()">
                            <div class="card p-4 mb-3">
                                <h4>Información de la cuenta</h4>
                                <div class="row">
                                    <div class="col col-12 p-1">
                                        <ValidationProvider rules="required|email" v-slot="{ errors }" name="email">
                                            <label for="email">Email<span class="text-danger">*</span></label>
                                            <input id="email" v-model="form.email" class="form-control">
                                            <small class="text-danger">{{errors[0]}}</small>
                                        </ValidationProvider>
                                    </div>
                                    <div class="col-12 col-md-6 p-1">
                                        <ValidationProvider rules="required" v-slot="{ errors }" name="contraseña" vid="password">
                                            <label for="password">Contraseña<span class="text-danger">*</span></label>
                                            <input id="password" type="password" v-model="form.password" class="form-control">
                                            <small class="text-danger">{{errors[0]}}</small>
                                        </ValidationProvider>
                                    </div>
                                    <div class="col-12 col-md-6 p-1">
                                        <ValidationProvider rules="required|confirmed:password" v-slot="{ errors }" name="confirmar contraseña">
                                            <label for="password_confirmation">Confirmar Contraseña<span class="text-danger">*</span></label>
                                            <input id="password_confirmation" type="password" v-model="form.password_confirmation" class="form-control">
                                            <small class="text-danger">{{errors[0]}}</small>
                                        </ValidationProvider>
                                    </div>
                                </div>
                            </div>
                            <div class="card p-4 my-3">
                                <h4>Datos básicos</h4>
                                <div class="row">
                                    <div class="col col-12 p-1">
                                        <ValidationProvider rules="required" v-slot="{ errors }" name="tipo de documento">
                                            <label for="tipo_documento">Tipo de documento<span class="text-danger">*</span></label>
                                            <v-select :options="tiposDeDocumentos" id="tipo_documento" v-model="select.tipoDocumento"></v-select>
                                            <small class="text-danger">{{errors[0]}}</small>
                                        </ValidationProvider>
                                    </div>
                                    <div class="col col-12 p-1">
                                        <ValidationProvider rules="required|numeric|min:6|max:10" v-slot="{ errors }" name="número de documento">
                                            <label for="n_documento">Número de documento<span class="text-danger">*</span></label>
                                            <input id="n_documento" v-model="form.numero_documento" class="form-control">
                                            <small class="text-danger">{{errors[0]}}</small>
                                        </ValidationProvider>
                                    </div>
                                    <div class="col-12 col-md-6 p-1">
                                        <ValidationProvider rules="required" v-slot="{ errors }" name="Primer nombre">
                                            <label for="nombre1">Primer nombre<span class="text-danger">*</span></label>
                                            <input id="nombre1" v-model="form.primer_nombre" class="form-control">
                                            <small class="text-danger">{{errors[0]}}</small>
                                        </ValidationProvider>
                                    </div>
                                    <div class="col-12 col-md-6 p-1">
                                        <ValidationProvider rules="" v-slot="{ errors }" name="Segundo nombre">
                                            <label for="nombre2">Segundo nombre</label>
                                            <input id="nombre2" v-model="form.segundo_nombre" class="form-control">
                                            <small class="text-danger">{{errors[0]}}</small>
                                        </ValidationProvider>
                                    </div>
                                    <div class="col-12 col-md-6 p-1">
                                        <ValidationProvider rules="required" v-slot="{ errors }" name="Primer apellido">
                                            <label for="ape1">Primer apellido<span class="text-danger">*</span></label>
                                            <input id="ape1" v-model="form.primer_apellido" class="form-control">
                                            <small class="text-danger">{{errors[0]}}</small>
                                        </ValidationProvider>
                                    </div>
                                    <div class="col-12 col-md-6 p-1">
                                        <ValidationProvider rules="" v-slot="{ errors }" name="Segundo apellido">
                                            <label for="ape2">Segundo apellido</label>
                                            <input id="ape2" v-model="form.segundo_apellido" class="form-control">
                                            <small class="text-danger">{{errors[0]}}</small>
                                        </ValidationProvider>
                                    </div>
                                    <div class="col col-12 col-md-6 p-1">
                                        <ValidationProvider rules="required" v-slot="{ errors }" name="fecha de nacimiento">
                                            <label>Fecha de nacimiento<span class="text-danger">*</span></label>
                                            <datepicker :disabled-dates="{from: new Date()}"
                                                        format="dd/MM/yyyy" v-model="form.fecha_nacimiento" required></datepicker>
                                            <small class="text-danger">{{errors[0]}}</small>
                                        </ValidationProvider>
                                    </div>
                                    <div class="col col-12 col-md-6 p-1">
                                        <ValidationProvider rules="required" v-slot="{ errors }" name="sexo">
                                            <label for="sexo">Sexo<span class="text-danger">*</span></label>
                                            <v-select :options="['Masculino','Femenino']" id="sexo" v-model="form.sexo"></v-select>
                                            <small class="text-danger">{{errors[0]}}</small>
                                        </ValidationProvider>
                                    </div>
                                    <div class="col-12 p-1">
                                        <ValidationProvider rules="required|numeric|min:6|max:10" v-slot="{ errors }" name="teléfono">
                                            <label for="telefono_uno">Teléfono<span class="text-danger">*</span></label>
                                            <input id="telefono_uno" v-model="form.telefono_uno" class="form-control">
                                            <small class="text-danger">{{errors[0]}}</small>
                                        </ValidationProvider>
                                    </div>
                                </div>
                            </div>
                            <div class="card p-4 my-3">
                                <h4>Información de residencia</h4>
                                <div class="row">
                                    <div class="col col-12 px-1">
                                        <ValidationProvider rules="required" v-slot="{ errors }" name="país">
                                            <label for="pais">País</label>
                                            <v-select :options="paises" id="pais" v-model="select.pais" @input="getDepartamentos"></v-select>
                                            <small class="text-danger">{{errors[0]}}</small>
                                        </ValidationProvider>
                                    </div>
                                    <div class="col col-12 px-1" v-if="select.pais.label === 'COLOMBIA'">
                                        <ValidationProvider rules="required" v-slot="{ errors }" name="departamento">
                                            <label for="departamento">Departamento</label>
                                            <v-select :options="departamentos" id="departamento" v-model="select.departamento" @input="getMunicipios"></v-select>
                                            <small class="text-danger">{{errors[0]}}</small>
                                        </ValidationProvider>
                                    </div>
                                    <div class="col col-12 px-1" v-if="select.pais.label === 'COLOMBIA'">
                                        <ValidationProvider rules="required" v-slot="{ errors }" name="municipio">
                                            <label for="municipio">Municipio</label>
                                            <v-select :options="municipios" id="municipio" v-model="select.municipio"></v-select>
                                            <small class="text-danger">{{errors[0]}}</small>
                                        </ValidationProvider>
                                    </div>
                                </div>
                            </div>
                            <div class="card p-4 my-3">
                                <h4>En caso de olvidar usuario o contraseña</h4>
                                <div class="row">
                                    <div class="col col-12 col-md-6 p-1">
                                        <ValidationProvider rules="required" v-slot="{ errors }" name="pregunta de seguridad">
                                            <label for="pregunta_seguridad">Pregunta de seguridad<span class="text-danger">*</span></label>
                                            <v-select :options="preguntas" id="pregunta_seguridad" v-model="select.pregunta"></v-select>
                                            <small class="text-danger">{{errors[0]}}</small>
                                        </ValidationProvider>
                                    </div>
                                    <div class="col col-12 col-md-6 p-1">
                                        <ValidationProvider rules="required" v-slot="{ errors }" name="respuesta">
                                            <label for="respuesta">Respuesta<span class="text-danger">*</span></label>
                                            <input id="respuesta" v-model="form.respuesta" class="form-control">
                                            <small class="text-danger">{{errors[0]}}</small>
                                        </ValidationProvider>
                                    </div>
                                </div>
                            </div>
                            <b-form-checkbox
                                id="terminos_condiciones"
                                v-model="form.terminos_condiciones"
                                name="terminos_condiciones"
                                value="1"
                                unchecked-value="0"
                                disabled
                                v-b-modal.m_terminos_condiciones
                                switch
                            >
                                <a style="color: #707070" href="javascript:void(0)" >Acepto términos y condiciones</a>
                            </b-form-checkbox>
                            <b-modal id="m_terminos_condiciones" ok-title="Aceptar" ok-variant="outline-danger"
                                     cancel-title="Cancelar" @ok="form.terminos_condiciones = 1" @cancel="form.terminos_condiciones = 0"
                                     scrollable size="lg" title="Términos y Condiciones">
                                <TerminosCondiciones></TerminosCondiciones>
                            </b-modal>
                            <b-form-checkbox
                                id="terminos_datos"
                                v-model="form.terminos_datos"
                                name="terminos_datos"
                                value="1"
                                unchecked-value="0"
                                disabled
                                v-b-modal.m_terminos_datos
                                switch
                            >
                                <a style="color: #707070" href="javascript:void(0)" >Acepto Tratamiento de datos personales</a>
                            </b-form-checkbox>
                            <b-modal id="m_terminos_datos" ok-title="Aceptar" ok-variant="outline-danger"
                                     cancel-title="Cancelar" @ok="form.terminos_datos = 1" @cancel="form.terminos_datos = 0"
                                     scrollable size="lg" title="Tratamiento de datos personales">
                                <TratamientoDatos></TratamientoDatos>
                            </b-modal>

                            <div class="row justify-content-center mt-4">
                                <button @click="$router.back()" class="btn btn-outline-secondary mr-2" type="button">Volver</button>
                                <button class="btn btn-danger" type="submit">Guardar</button>
                            </div>
                        </ValidationObserver>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import TipoDocumentoService from "../../services/parametricas/TipoDocumentoService";
    import {EventBus} from "../../EventBus";
    import Datepicker from "vuejs-datepicker";
    import moment from 'moment';
    import TerminosCondiciones from '../../components/TerminosCondiciones';
    import TratamientoDatos from '../../components/TratamientoDatos';
    import PaisService from "../../services/parametricas/PaisService";
    import DepartamentoService from "../../services/parametricas/DepartamentoService";
    import MunicipioService from "../../services/parametricas/MunicipioService";
    import RegistroService from "../../services/RegistroService";
    import PreguntaSeguridadService from "../../services/parametricas/PreguntaSeguridadService";
    import AuthService from "../../services/AuthService";

    export default {
        name:"RegistroBuscadorForm",
        data(){
            return {
                form:{
                    tipo_documento_id:"",
                    numero_documento:"",
                    password:"",
                    password_confirmation:"",
                    email:"",
                    primer_nombre:"",
                    segundo_nombre:"",
                    primer_apellido:"",
                    segundo_apellido:"",
                    fecha_nacimiento:"",
                    sexo:"",
                    telefono_uno:"",
                    pais_residencia_id:"",
                    pregunta_seguridad_id:"",
                    respuesta:"",
                    departamento_residencia_codigo:"",
                    municipio_residencia_codigo:"",
                    terminos_condiciones:0,
                    terminos_datos:0,
                },
                parametricas:{
                    tiposDocumentos:[],
                    paises:[],
                    departamentos:[],
                    municipios:[],
                    preguntas:[],
                },
                select:{
                    tipoDocumento:"",
                    pais:"",
                    departamento:"",
                    municipio:"",
                    pregunta:"",
                },
            }
        },
        methods:{
            async guardarPersona(){
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    EventBus.$emit('loading');
                    this.form.tipo_documento_id = this.select.tipoDocumento.code;
                    this.form.pais_residencia_id = this.select.pais.code;
                    this.form.pregunta_seguridad_id = this.select.pregunta.code;
                    if(this.select.departamento !== null && this.select.departamento !== "") {
                        this.form.departamento_residencia_codigo = this.select.departamento.code;
                    }
                    if(this.select.municipio !== null && this.select.municipio !== "") {
                        this.form.municipio_residencia_codigo = this.select.municipio.code;
                    }
                    this.form.fecha_nacimiento = moment(this.form.fecha_nacimiento).format('YYYY-MM-DD')
                    try{
                        await RegistroService.registroOferente(this.form);
                        this.$swal({
                            title: "Bien!!",
                            text: 'Tus datos se registraron correctamente',
                            icon: "success",
                        }).then((r)=>{
                            console.log(r)
                            AuthService.loginOferente({email: this.form.email, password: this.form.password})
                                .then((resp)=>{
                                    localStorage.setItem('token', resp.data.access_token);
                                    localStorage.setItem('user', JSON.stringify(resp.data.user));
                                    window.location.reload();
                                }).catch(error => {
                                this.$swal({
                                    title: "Error!",
                                    text: error.response.data.error.toString(),
                                    icon: "error",
                                })
                            });
                            //this.$router.push({path:'/personas/hoja_vida'})
                        });
                    }catch(error){
                        this.$swal({
                            title: "Error!",
                            text: error.response.data.error.toString(),
                            icon: "error",
                        })
                    }finally {
                        EventBus.$emit('loading-close')
                    }
                }else{
                    this.$swal({
                        title: "Error!",
                        text: 'Debes corregir los errores antes de enviar',
                        icon: "error",
                    })
                }
            },
            async getParametricas(){
                try {
                    this.parametricas.tiposDocumentos = (await TipoDocumentoService.all()).data;
                    this.parametricas.paises = (await PaisService.all()).data
                    this.parametricas.departamentos = (await DepartamentoService.all()).data
                    this.parametricas.municipios = (await MunicipioService.all()).data
                    this.parametricas.preguntas = (await PreguntaSeguridadService.all()).data
                }catch (e) {
                    this.$swal({
                        title: "Error!",
                        text: e.response.data.error.toString(),
                        icon: "error",
                    })
                }finally {
                    EventBus.$emit('loading-close')
                }
            },
            async getMunicipios(){
                EventBus.$emit('loading')
                try {
                    if(this.select.departamento !== null && this.select.departamento !== '') {
                        this.select.municipio = null;
                        this.parametricas.municipios = (await MunicipioService.all(this.select.departamento.code)).data
                    }else{
                        this.select.municipio = null;
                        this.parametricas.municipios = [];
                    }
                }catch (e) {
                    this.$swal({
                        title: "Error!",
                        text: e.response.data.error.toString(),
                        icon: "error",
                    })
                }finally {
                    EventBus.$emit('loading-close')
                }
            },
            async getDepartamentos(){
                EventBus.$emit('loading')
                this.select.departamento = null;
                this.select.municipio = null;
                try {
                    if(this.select.pais.label === 'COLOMBIA') {
                        this.parametricas.departamentos = (await DepartamentoService.all()).data;
                    }else{
                        this.parametricas.departamentos = [];
                    }
                }catch (e) {
                    this.$swal({
                        title: "Error!",
                        text: e.response.data.error.toString(),
                        icon: "error",
                    })
                }finally {
                    EventBus.$emit('loading-close')
                }
            },
        },
        computed: {
            tiposDeDocumentos(){
                let arr = [];
                this.parametricas.tiposDocumentos.forEach(tipo => {
                    arr.push({label: tipo.descripcion+' ('+tipo.sigla+')', code: tipo.id})
                });
                return arr
            },
            paises(){
                let arr = [];
                this.parametricas.paises.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            },
            departamentos(){
                let arr = [];
                this.parametricas.departamentos.forEach(item => {
                    arr.push({label: item.descripcion, code: item.codigo})
                });
                return arr
            },
            municipios(){
                let arr = [];
                this.parametricas.municipios.forEach(item => {
                    arr.push({label: item.descripcion, code: item.codigo})
                });
                return arr
            },
            preguntas(){
                let arr = [];
                this.parametricas.preguntas.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            },
        },
        mounted() {
            EventBus.$emit('loading')
            this.getParametricas()
        },
        components:{
            Datepicker,
            TerminosCondiciones,
            TratamientoDatos
        }
    }
</script>

<style scoped lang="scss">
    h4{
        font-weight: 700;
    }

    .fondo{
        background-image:   linear-gradient(to right bottom,
            rgba(243, 59, 46, 0.6),
            rgba(126, 0, 0, 0.6)),
        url(/assets/img/gaitan.png);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

</style>
