:root {
  --main-amarillo: #F1D74C;
  --main-rojo: #dc3545; }

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 300; }

@font-face {
  font-family: "Muli";
  src: url("/fonts/Muli/Muli-Black.ttf");
  font-weight: 900; }

@font-face {
  font-family: "Muli";
  src: url("/fonts/Muli/Muli-Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: "Muli";
  src: url("/fonts/Muli/Muli-Regular.ttf");
  font-weight: 300; }

@font-face {
  font-family: "Muli";
  src: url("/fonts/Muli/Muli-Light.ttf");
  font-weight: 100; }

.row {
  margin-left: 0 !important;
  margin-right: 0 !important; }

a:-webkit-any-link {
  text-decoration: none !important; }

body {
  font-family: 'Muli', sans-serif;
  color: #858585; }

.custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: var(--main-amarillo); }

.custom-control-input[disabled] ~ .custom-control-label::before, .custom-control-input:disabled ~ .custom-control-label::before {
  background-color: #e9ecef; }

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: var(--main-amarillo); }

.vs__dropdown-toggle {
  border: none !important;
  border-radius: 8px !important; }

.vdp-datepicker input {
  width: 100%;
  border: none;
  background: rgba(112, 112, 112, 0.1);
  height: 35px; }

a {
  color: var(--main-rojo); }
  a:hover {
    color: #cc0000; }

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s; }

.fade-enter, .fade-leave-to {
  opacity: 0; }

.noline {
  border: none; }

.text-sm {
  font-size: .9rem; }

.alto {
  min-height: 100vh; }

.text-black {
  color: black !important; }

.text-bold {
  font-weight: 700 !important; }

.form-control {
  background: rgba(112, 112, 112, 0.1);
  border: none;
  transition: all .3s; }
  .form-control:focus {
    border-bottom: 2px solid var(--main-rojo);
    outline: none;
    box-shadow: none !important; }

.v-select {
  background: rgba(112, 112, 112, 0.1);
  border: none; }
