<template>
    <div class="col-10 p-1">
        <div class="boton row align-items-center py-2" >
            <!-- <div class="row justify-content-center pb-3 pt-4">
                <div class="col-3">
                    <div></div>
                    <img src="@/assets/svg/person.svg" alt="" class="img-fluid">
                </div>
            </div> -->
            <div class="col-3 text-center ">
                <div class="icon">
                    <i :class="icon"></i>
                </div>

            </div>
            <div class="col-9">
                <div class="text">{{text}}</div>
            </div>
        </div>
        <!-- <button class="btn-outline-danger btn btn-block mb-2"> 
            <div class="row ">
                <div class="col-3">
                    <i class="material-icons icon">{{icon}}</i>
                </div>
                <div class="col-9 text text-left">{{text}}</div>
            </div>
        </button> -->
    </div>
</template>

<script>
    export default {
        name: 'boton',
        props:['text','icon'],
        
    }
</script>

<style scoped lang="scss">
// .icon{
//     font-size: 1.2rem;
// }
.boton{

    background-color: #e6e6e6;
    color: #646464;
    // height: 8rem;
    width: 100%;
    cursor: pointer;
    transition: 0.6s;
    border-radius: 20px;
    &:hover{
        background-color: #f33a2e;
        color: white;
    }
    .icon{
        font-size: 1.8rem;
        // padding-top: .5rem;
    }
}
.text{
    font-size: 1.3rem;
}

</style>