<template>
    <div>
        <button class="btn-outline-danger btn btn-block mb-2"> 
            <div class="row ">
                <div class="col-3">
                    <i class="material-icons icon">{{icon}}</i>
                </div>
                <div class="col-9 text text-left">{{text}}</div>
            </div>
        </button>
    </div>
</template>

<script lang="ts">
    export default {
        name: 'boton1',
        props:['text','icon']
    }
</script>

<style scoped lang="scss">
.icon{
    font-size: 1.2rem;
}
.text{
    font-size: 1.1rem;
}

</style>