<template>
  <div class="tarjeta">
    <slot></slot>
  </div>
</template>

<script>
export default {
    name: 'card'
}
</script>

<style>
.tarjeta{
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 3px 2px 14px -2px rgba(0,0,0,0.25);
    -moz-box-shadow: 3px 2px 14px -2px rgba(0,0,0,0.25);
    box-shadow: 3px 2px 14px -2px rgba(0,0,0,0.25);
    padding: 1em 1.5em;
}
</style>