<template>
    <div class="col-auto p-1">
        <router-link :to="link" >
            <div class="tab px-4 py-3" >
                {{text}}
            </div>
        </router-link>
    </div>
</template>

<script>
export default {
    name:'tab_menu',
    props:['text', 'link']
}
</script>

<style lang="scss">

.tab{
    border-bottom: #FFF solid 3px;
    color: #999999;
    cursor: pointer;
    &:hover{
        background-color: #f0f0f0;
        color: #4b4b4b;
    }
}

.router-link-active > .tab{
    border-bottom: red solid 3px;
}

</style>