<template>
    <div>
        <div class="row justify-content-center aling-items-center my-3 select" @click="estado()">
            
            <div class="col-auto " >
                <div class="h5 text-primary">
                    {{text}}
                </div>
            </div>
            <div class="col">
                <hr>
            </div>
            <div class="col-auto " >
                <div class="h5 text-primary">
                    <span v-show="activo"><i class="fas fa-chevron-up mr-2"></i></span>
                    <span v-show="!activo"><i class="fas fa-chevron-down mr-2"></i></span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name:"titulo",
    props:['text'],
    data(){
        return {
            activo: false
        }
    },
    methods:{
        estado(){
            this.activo = !this.activo
            this.$emit('estado',this.activo)
        }
    }
}
</script>

<style scoped lang="scss">
hr{
    border-top: 1px solid red;
}
.select{
    cursor: pointer;
}
</style>