<template>

    <div class="fondo">
        <NavbarUi></NavbarUi>
        <div class="min-alto">
            <transition name="fade">
                <router-view/>
            </transition>
        </div>
        <FooterUi></FooterUi>
    </div>
</template>

<script>
    import FooterUi from '../../../components/ui/footer_ui'
    import NavbarUi from './navbar_ui'

    export default {
        name: 'admin',
        data(){
            return {
                background: false
            }
        },
        components:{
            FooterUi,
            NavbarUi
        },
    }
</script>

<style lang="scss">

    .min-alto{
        min-height: 80vh;
    }

    .fondo{
        background-image: linear-gradient(45deg,

        #f33a2e 10%, #f75b4f 10%, 
        #f75b4f 20%, #f33a2e 20%, 
        #f33a2e 30%, #f75b4f 30%, 
        #f75b4f 40%, #f33a2e 40%, 
        #f33a2e 50%, #f75b4f 50%, 
        #f75b4f 60%, #f33a2e 60%, 
        #f33a2e 70%, #f75b4f 70%, 
        #f75b4f 80%, #f33a2e 80%, 
        #f33a2e 90%, #f75b4f 90%, 
        #f75b4f 100%
        );
        background-size: 100vw 30vh;
        background-repeat: no-repeat;
    }


</style>
