<template>
    <b-navbar toggleable="lg" type="danger" variant="light">
        <div class="container">
            <b-navbar-brand href="#"><img src="/assets/img/logo2.png" alt="" width="150px"></b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav class="ml-auto">
                    <b-nav-item @click="logout()"> <i class="fas fa-angle-left mr-2"></i>logout</b-nav-item>
                    <!-- <router-link >
                    </router-link> -->
                    <!-- <b-nav-item href="#" disabled>Disabled</b-nav-item> -->
                </b-navbar-nav>

                <!-- Right aligned nav items -->
                <!-- <b-navbar-nav class="ml-auto"> -->
                <!-- <b-nav-form>
                <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
                <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
                </b-nav-form> -->

                <!-- <b-nav-item-dropdown text="Lang" right>
                <b-dropdown-item href="#">EN</b-dropdown-item>
                <b-dropdown-item href="#">ES</b-dropdown-item>
                <b-dropdown-item href="#">RU</b-dropdown-item>
                <b-dropdown-item href="#">FA</b-dropdown-item>
                </b-nav-item-dropdown> -->

                <!-- <b-nav-item-dropdown right>
                <template v-slot:button-content>
                    <em>User</em>
                </template>
                <b-dropdown-item href="#">Profile</b-dropdown-item>
                <b-dropdown-item href="#">Sign Out</b-dropdown-item>
                </b-nav-item-dropdown> -->
                <!-- </b-navbar-nav> -->
            </b-collapse>
        </div>

    </b-navbar>
</template>

<script>
import AuthService from "../../../services/AuthService";

export default {
    name: 'navbar_ui',
    methods: {
        logout(){
            AuthService.logout().then(()=>{
                localStorage.clear();
                window.location.reload()
            })
        }
    }
}
</script>

<style scoped>
.navbar{
    padding: 1px;
}
</style>
