.form-control:not(.form-control-normal) {
    background: rgba(#707070, 0.1);
    border: none;
    transition: all .3s;
    &:focus{
        border-bottom: 2px solid var(--main-rojo);
        outline: none;
        box-shadow: none !important;
    }

}
.form-control:focus{
    outline: none;
    border-color: $mainRojo !important;
    box-shadow:0 0 0 5px rgba($mainRojo,.2) !important;
}
.v-select{
    background: rgba(#707070, 0.1);
    border: none;
}

.v-select-normal.v-select{
    background: initial !important;
    border: 1px solid #ced4da !important;
}
