<template>

    <div class="row justify-content-between">
        <Tab text="Hoja de vida" link="./hoja_vida"></Tab>
        <Tab text="Procesos" link="./procesos"></Tab>
        <Tab text="Ruta de Empleabilidad" link="./ruta_empleo"></Tab>
        <Tab text="Histórico de direccionamiento" link="./historico"></Tab>
    </div>

</template>

<script>
import Tab from "../../../components/elementos/tab"
export default {
    name:'menu_persona',
    components:{
        Tab
    }
}
</script>

<style>

</style>
