<template>
<div>
    <div>
        <Presentacion></Presentacion>
        <div class="container">
            <MenuPersonas></MenuPersonas>
            <transition name="fade" mode="out-in">
                <router-view/>
            </transition>
        </div>
    </div>

</div>
</template>

<script>
import Card from '../../../components/elementos/card'
import Presentacion from './presentacion'
import MenuPersonas from './menu_personas'

    export default {
        name: 'footer_ui',
        computed:{

        },
        components:{
          Card,
          Presentacion,
          MenuPersonas
        }
    }
</script>

<style scoped lang="scss">


</style>
