<template>
    <div class="fondo">
        <div class="container caja-presentacion">
            <Card>
                <div class="row mb-2">
                    <div class="col-8 pl-0">
                        <h4 class="text-black text-bold">
                            {{$store.getters.authNombreCompleto}}
                        </h4>
                    </div>
                    <div class="col-4 text-right pr-0">
                        <a href="javascript:void(0)">
                            <i class="fas fa-file-download mr-2"></i> Certificado de inscripción
                        </a>
                    </div>
                </div>
                <div class="text-sm">{{user.email}}</div>
                <div class="text-sm">{{$store.getters.authResidencia}}</div>
                <div class="text-sm">Ultima actualización : {{($store.state.AuthModule.authPersona.data_update.split(' '))[0]}}</div>
                <div class="row mt-4">
                    <div class="col pl-0">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" :style="'width: '+progress+'%'" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col col-auto pr-0 text-right">
                        {{progress}}% completado
                    </div>
                </div>
            </Card>
        </div>
    </div>
</template>

<script>
import Card from "../../../components/elementos/card";
import {EventBus} from "../../../EventBus";
export default {
    name:'presentacion_personas',
    data(){
        return {
            porcentajes:{
                datosPersonales:0,
                idiomas:0,
                perfilLaboral:0,
                eduFormal:0,
                eduInformal:0,
                habilidades:0,
                experiencia:0,
            }
        }
    },
    components:{
        Card
    },
    computed:{
        user(){
            return JSON.parse(localStorage.getItem('user'))
        },
        progress(){
            return this.porcentajes.datosPersonales + this.porcentajes.idiomas +
                this.porcentajes.habilidades + this.porcentajes.perfilLaboral + this.porcentajes.eduInformal
            + this.porcentajes.experiencia + this.porcentajes.eduFormal
        }
    },
    mounted() {
        EventBus.$on('porcentajeDatosPersonales',(p)=>{this.porcentajes.datosPersonales = p})
        EventBus.$on('porcentajeIdiomas',(p)=>{this.porcentajes.idiomas = p})
        EventBus.$on('porcentajeHabilidades',(p)=>{this.porcentajes.habilidades = p})
        EventBus.$on('porcentajePerfilLaboral',(p)=>{this.porcentajes.perfilLaboral = p})
        EventBus.$on('porcentajeExperiencia',(p)=>{this.porcentajes.experiencia = p})
        EventBus.$on('porcentajeEduFormal',(p)=>{this.porcentajes.eduFormal = p})
        EventBus.$on('porcentajeEduInformal',(p)=>{this.porcentajes.eduInformal = p})
    }
}
</script>

<style scoped lang="scss">
    .fondo{
        /*
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

         */
        position: relative;
        height: 150px;
        //background: #dc3545;
        //z-index: -1;
        background-image: url('/assets/img/patron-fondo.svg'),
        linear-gradient(to right, #f33a2e, #f33a2e);
        background-size: cover;
        background-repeat: no-repeat;
        .caja-presentacion{
            position: relative;
            top: 50%;
            transform: translateY(-10%);
        }
        margin-bottom: 150px;
    }
</style>
