<template>
    <div class="container-fluid">
        <router-view></router-view>
    </div>
</template>

<script>
import { EventBus } from '../../../EventBus'


export default {
    name:'demandante',
    mounted(){
        EventBus.$emit('background', {ok:false})
    }
}
</script>

<style>

</style>