<template>
    <div class="mt-4">
        <div class="text-light h2 text-center mt-4 mb-4">Registro compañias <small> - {{porcent}}%</small> </div>
        <div class="row justify-content-center">
            <div class="col-10 col-md-8">
                <div class="progress mb-3">
                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" :style="'width: ' +porcent+'%'" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>
        </div>
        <Card>
            <div class="row" style="cursor:pointer;" @click="section == 1 ? section = undefined : section = 1">
                <div class="col">
                    <div class="h5 my-2 text-primary">Datos del contacto principal</div>
                </div>
                <div class="col-auto">
                    <div v-if="section == 1" class="ml-auto text-primary" style="font-size:1.6em;"><i class="fas fa-chevron-up"></i></div>
                    <div v-else-if="section !== 1" class="ml-auto text-primary" style="font-size:1.6em;"><i class="fas fa-chevron-down"></i></div>
                </div>
            </div>
            <transition name="fade">
                <div v-if="section == 1">
                    <hr>
                    <div class="row mb-3">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="primer nombre">
                                <label for="primer_nombre">Primer nombre<span class="text-danger">*</span></label>
                                <input @input="progress()" type="text" class="form-control" placeholder="Escribe aquí" v-model="form.primer_nombre">
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="segundo nombre">
                                <label for="segundo_nombre">Segundo nombre<span class="text-danger">*</span></label>
                                <input @input="progress()" type="text" class="form-control" placeholder="Escribe aquí" v-model="form.segundo_nombre">
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="primer apellido">
                                <label for="primer_apellido">Primer apellido<span class="text-danger">*</span></label>
                                <input @input="progress()" type="text" class="form-control" placeholder="Escribe aquí" v-model="form.primer_apellido">
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="segundo apellido">
                                <label for="segundo_apellido">Segundo apellido<span class="text-danger">*</span></label>
                                <input @input="progress()" type="text" class="form-control" placeholder="Escribe aquí" v-model="form.segundo_apellido">
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-5">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="tipo documento">
                                <label for="tipo_documento_id">Tipo documento</label>
                                <select @input="progress()" class="form-control" v-model="form.tipo_documento_id">
                                    <option v-for="doc of tiposDoc" :key="doc.descripcion" :value="doc.id">{{doc.sigla}} - {{ doc.descripcion }}</option>
                                </select>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-7">
                            <ValidationProvider rules="required|numeric|min:6|max:10" v-slot="{ errors }" name="numero documento">
                                <label for="numero_documento">Numero documento<span class="text-danger">*</span></label>
                                <input type="number" min="0" class="form-control" placeholder="Escribe aquí" v-model="form.numero_documento">
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <ValidationProvider rules="required|email" v-slot="{ errors }" name="email">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" placeholder="Escribe aquí" v-model="form.email">
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Fecha nacimiento</label>
                                <input type="date" class="form-control" v-model="form.fecha_nacimiento">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-2 col-4">
                            <div class="form-group">
                                <label>Sexo</label>
                                <select class="form-control" v-model="form.sexo">
                                    <option value="Masculino">M</option>
                                    <option value="Femenino">F</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-8">
                            <div class="form-group">
                                <label>Telefono</label>
                                <input type="number" min="0" class="form-control" placeholder="Escribe aquí" v-model="form.telefono_uno">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Pais residencia</label>
                                <select class="form-control" v-model="form.pais_residencia_id">
                                    <option v-for="doc of paises" :key="doc.descripcion" :value="doc.id">{{ doc.descripcion }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Departamento</label>
                                <select class="form-control" v-model="form.departamento_residencia_codigo" @change="loadCities($event.target.value)">
                                    <option v-for="doc of deptos" :key="doc.descripcion" :value="doc.codigo">{{ doc.descripcion }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Ciudad</label>
                                <select class="form-control" v-model="form.tipo_documento_id">
                                    <option v-for="doc of ciudades" :key="doc.descripcion" :value="doc.codigo">{{ doc.descripcion }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
        </Card>
        <Card class="mt-3">

            <div class="row" style="cursor:pointer;" @click="section == 2 ? section = undefined : section = 2">
                <div class="col">
                    <div class="h5 my-2 text-primary">Datos de la compañia</div>
                </div>
                <div class="col-auto">
                    <div v-if="section == 2" class="ml-auto text-primary" style="font-size:1.6em;"><i class="fas fa-chevron-up"></i></div>
                    <div v-else-if="section !== 2" class="ml-auto text-primary" style="font-size:1.6em;"><i class="fas fa-chevron-down"></i></div>
                </div>
            </div>
            <transition name="fade">
                <div v-if="section == 2">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Tipo documento empresa</label>
                                <select class="form-control" v-model="form.tipo_documento_empresa_id">
                                    <option v-for="doc of tiposDoc" :key="doc.descripcion" :value="doc.id"> {{ doc.sigla }} - {{ doc.descripcion }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Documento empresa</label>
                                <input type="number" min="0" class="form-control" placeholder="Escribe aquí" v-model="form.numero_documento_empresa">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Razon social</label>
                                <input type="text" class="form-control" placeholder="Escribe aquí" v-model="form.razon_social">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Tipo de empresa</label>
                                <select class="form-control" v-model="form.naturaleza">
                                    <option value="Mixta">Mixta</option>
                                    <option value="Publica">Publica</option>
                                    <option value="Privada">Privada</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <ValidationProvider rules="required" v-slot="{ errors }" name="tipo documento">
                                <label for="tipo_direccion">Tipo direccion</label>
                                <select class="form-control" v-model="tipo_direccion">
                                    <option value="Urbana">Urbana</option>
                                    <option value="Rural">Rural</option>
                                </select>
                                <small class="text-danger">{{errors[0]}}</small>
                            </ValidationProvider>
                        </div>
                        <div class="col">      
                            <label for="direccion_sede_empresa">Dirección <small>(Ingresar a continuación)</small> </label>
                            <input disabled type="text" class="form-control" placeholder="Escribe aquí" v-model="form.direccion_sede_empresa">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <DireccionForm @direccionGenerada="(data)=>{form.direccion_sede_empresa = data}" :tipo="tipo_direccion"></DireccionForm>

                        </div>

                    </div>

                </div>
            </transition>

        </Card>
        <Card class="mt-3">
            
            <div class="row" style="cursor:pointer;" @click="section == 2 ? section = undefined : section = 2">
                <div class="col">
                    <div class="h5 my-2 text-primary">Datos de seguridad</div>
                </div>
                <div class="col-auto">
                    <div v-if="section == 3" class="ml-auto text-primary" style="font-size:1.6em;"><i class="fas fa-chevron-up"></i></div>
                    <div v-else-if="section !== 3" class="ml-auto text-primary" style="font-size:1.6em;"><i class="fas fa-chevron-down"></i></div>
                </div>
            </div>
            <transition name="fade">
                <div v-if="section == 3">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Documento empresa</label>
                                <input type="number" min="0" class="form-control" placeholder="Escribe aquí" v-model="form.numero_documento_empresa">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Razon social</label>
                                <input type="text" class="form-control" placeholder="Escribe aquí" v-model="form.razon_social">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Documento empresa</label>
                                <input type="number" min="0" class="form-control" placeholder="Escribe aquí" v-model="form.numero_documento_empresa">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Razon social</label>
                                <input type="text" class="form-control" placeholder="Escribe aquí" v-model="form.razon_social">
                            </div>
                        </div>
                    </div>

                </div>
            </transition>
        </Card>
    </div>
</template>

<script>
import Card from '../../../components/elementos/card'
import TipoDocService from '../../../services/parametricas/TipoDocumentoService'
import paisService from '../../../services/parametricas/PaisService'
import deptosService from '../../../services/parametricas/DepartamentoService'
import ciuService from '../../../services/parametricas/MunicipioService'
import tipoEmpresaService from '../../../services/parametricas/tipoEmpresaService'

import DireccionForm from '../../../components/DireccionForm'

export default {
    name:'registro_demandante',
    data(){
        return {
            tipo_direccion:'Urbana',
            section:1,
            porcent:0,
            form: {
                primer_nombre: undefined, 
                segundo_nombre: undefined, 
                primer_apellido: undefined, 
                segundo_apellido: "roger", 
                tipo_documento_id: "1", 
                numero_documento: "", 
                email: "prueba@prueba.com", 
                fecha_nacimiento: "2020-02-24", 
                sexo: "Masculino",
                telefono_uno: "3156894578",
                pais_residencia_id: "44",
                departamento_residencia_codigo: "50",
                municipio_residencia_codigo: "50001",

                tipo_documento_empresa_id: "1",
                numero_documento_empresa: "12123123",
                razon_social: "asdasdasd",
                naturaleza: "Privada",

                tipo_empresa_id: "1",
                actividad_economica_id: "1",
                sector_empresa_id: "1",
                tamano_empresa_id: "1",
                nombre_sede_empresa: "un nombre",
                direccion_sede_empresa: "una direccion",
                codigo_postal_sede_empresa: "324234",
                pais_sede_empresa: "1",
                depatamento_codigo_sede_empresa: "5",
                minicipio_codigo_sede_empresa: "5001",
                telefono_sede_empresa: "334234",

                password: "123456",
                password_confirmation: "123456",
                pregunta_seguridad_id: "1",
                respuesta: "azul",
                terminos_condiciones: "1",
                terminos_datos: "1"
            },
            tiposDoc:[],
            paises:[],
            deptos:[],
            ciudades:[],
            tiposEmpresa:[]
        }
    },
    components: {
        Card,
        DireccionForm
    },
    methods:{
        loadCities(cod){
            ciuService.all(cod).then(data => this.ciudades = data.data).catch(err => console.log(err))
        },
        progress(){
            let total = Object.keys(this.form).length
            let list = Object.values(this.form).filter(e => e == undefined || e == '').length
            this.porcent = 100 - Math.floor((list * 100)/total)
        }
    },
    mounted(){
        this.progress(),
        TipoDocService.all().then(data =>this.tiposDoc = data.data).catch(err => console.log(err)),
        paisService.all().then(data => this.paises = data.data).catch(err => console.log(err)),
        deptosService.all().then(data => this.deptos = data.data).catch(err => console.log(err)) ,    
        tipoEmpresaService.all().then(data => this.tiposEmpresa = data.data).catch(err => console.log(err)) 
        

    }
}
</script>

<style lang="scss">

</style>