<template>
    <div>
        <!--inicio URBANA-->
        <section v-if="$props.tipo === 'Urbana'" class="row">
            <div class="col-12 px-1">
                <p>Sección Principal</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2 px-1">
                <div class="form-group">
                    <select @change="updateDireccion" class="form-control" v-model="form.seleccion1">
                        <option value="0">Seleccione</option>
                        <option value="CL">Calle</option>
                        <option value="KR">Carrera</option>
                        <option value="DG">Diagonal</option>
                        <option value="TV">Transversal</option>
                        <option value="AV">Avenida</option>
                        <option value="AC">Avenida Calle</option>
                        <option value="AK">Avenida Carrera</option>
                        <option value="AU" style="display: block;">Autopista</option>
                        <option value="CQ">Circular</option>
                        <option value="CV">Circunvalar</option>
                        <option value="CC">Cuentas Corridas</option>
                        <option value="PJ">Pasaje</option>
                        <option value="PS">Paseo</option>
                        <option value="PT">Peatonal</option>
                        <option value="TC">Troncal</option>
                        <option value="VT">Variante</option>
                        <option value="VI">Via</option>
                        <option value="Otro">Otro</option>
                        <option value="AGRUPACIÓN" style="display: none;">Agrupación</option>
                        <option value="APTO" style="display: none;">Apartamento</option>
                        <option selected="selected" value="BL" style="display: none;">Bloque</option>
                        <option value="BUL" style="display: none;">Bulevar</option>
                        <option value="BÓDEGA" style="display: none;">Bódega</option>
                        <option value="CARRETERA" style="display: none;">Carretera</option>
                        <option value="CASA" style="display: none;">Casa</option>
                        <option value="COMUNAL" style="display: none;">Comunal</option>
                        <option value="CONJ" style="display: none;">Conjunto</option>
                        <option value="CONSULTORIO" style="display: none;">Consultorio</option>
                        <option value="DEPO" style="display: none;">Déposito</option>
                        <option value="EDIF" style="display: none;">Edificio</option>
                        <option value="ENTRADA" style="display: none;">Entrada</option>
                        <option value="ESQUINA" style="display: none;">Esquina</option>
                        <option value="ETAPA" style="display: none;">Etapa</option>
                        <option value="GJ" style="display: none;">Garaje</option>
                        <option value="INT" style="display: none;">Interior</option>
                        <option value="KM" style="display: none;">Kilómetro</option>
                        <option value="LOCAL" style="display: none;">Local</option>
                        <option value="LOTE" style="display: none;">Lote</option>
                        <option value="MZ" style="display: none;">Manzana</option>
                        <option value="MEZZ" style="display: none;">Mezzanine</option>
                        <option value="MÓDULO" style="display: none;">Módulo</option>
                        <option value="OF" style="display: none;">Oficina</option>
                        <option value="PARCELA" style="display: none;">Parcela</option>
                        <option value="PASEO" style="display: none;">Paseo</option>
                        <option value="PENTHOUSE" style="display: none;">Penthouse</option>
                        <option value="PISO" style="display: none;">Piso</option>
                        <option value="PH" style="display: none;">Propiedad Horizontal</option>
                        <option value="SALON" style="display: none;">Salón</option>
                        <option value="SECTOR" style="display: none;">Sector</option>
                        <option value="SEMISOTANO" style="display: none;">Semisótano</option>
                        <option value="SOLAR" style="display: none;">Solar</option>
                        <option value="SOTANO" style="display: none;">Sótano</option>
                        <option value="SUPERMZ" style="display: none;">Super Manzana</option>
                        <option value="TORRE" style="display: none;">Torre</option>
                        <option value="UN" style="display: none;">Unidad</option>
                        <option value="VEREDA" style="display: none;">Vereda</option>
                        <option value="VIA" style="display: none;">Vía</option>
                        <option value="ZN" style="display: none;">Zona</option>
                        <option value="Otros" style="display: none;">Otros</option>

                    </select>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2 px-1">
                <div class="form-group">
                    <input @input="updateDireccion" v-model="form.text1" type="text"  maxlength="100" class="form-control" autocomplete="off">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-1 px-1">
                <div class="form-group">
                    <select @change="updateDireccion" v-model="form.letra1" class="form-control">
                        <option value=""></option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option selected="selected" value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="G">G</option>
                        <option value="H">H</option>
                        <option value="I">I</option>
                        <option value="J">J</option>
                        <option value="K">K</option>
                        <option value="L">L</option>
                        <option value="M">M</option>
                        <option value="N">N</option>
                        <option value="O">O</option>
                        <option value="P">P</option>
                        <option value="Q">Q</option>
                        <option value="R">R</option>
                        <option value="S">S</option>
                        <option value="T">T</option>
                        <option value="U">U</option>
                        <option value="V">V</option>
                        <option value="W">W</option>
                        <option value="X">X</option>
                        <option value="Y">Y</option>
                        <option value="Z">Z</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-1 px-1">
                <div class="form-group">
                    <select @change="updateDireccion" v-model="form.bis" class="form-control">
                        <option value=""></option>
                        <option selected="selected" value="BIS">BIS</option>
                    </select>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3 col-lg-1 px-1">
                <div class="form-group">
                    <select @change="updateDireccion" v-model="form.letra2" class="form-control">
                        <option value=""></option>
                        <option value="A">A</option>
                        <option selected="selected" value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="G">G</option>
                        <option value="H">H</option>
                        <option value="I">I</option>
                        <option value="J">J</option>
                        <option value="K">K</option>
                        <option value="L">L</option>
                        <option value="M">M</option>
                        <option value="N">N</option>
                        <option value="O">O</option>
                        <option value="P">P</option>
                        <option value="Q">Q</option>
                        <option value="R">R</option>
                        <option value="S">S</option>
                        <option value="T">T</option>
                        <option value="U">U</option>
                        <option value="V">V</option>
                        <option value="W">W</option>
                        <option value="X">X</option>
                        <option value="Y">Y</option>
                        <option value="Z">Z</option>

                    </select>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-2 px-1">
                <div class="form-group">
                    <select @change="updateDireccion" v-model="form.cuadrante" class="form-control">
                        <option value=""></option>
                        <option selected="selected" value="SUR">SUR</option>
                        <option value="NORTE">NORTE</option>
                        <option value="ESTE">ESTE</option>
                        <option value="OESTE">OESTE</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-1 px-1">
                <div class="form-group d-flex align-items-center">
                    <div class="mr-1">#</div>
                    <input @input="updateDireccion" v-model="form.num1"  type="number" value="21" maxlength="100"  class="form-control" autocomplete="off">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-1 px-1">
                <div class="form-group">
                    <select @change="updateDireccion" v-model="form.letra3" class="form-control">
                        <option value=""></option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="G">G</option>
                        <option value="H">H</option>
                        <option value="I">I</option>
                        <option value="J">J</option>
                        <option value="K">K</option>
                        <option value="L">L</option>
                        <option value="M">M</option>
                        <option value="N">N</option>
                        <option value="O">O</option>
                        <option value="P">P</option>
                        <option value="Q">Q</option>
                        <option value="R">R</option>
                        <option value="S">S</option>
                        <option value="T">T</option>
                        <option value="U">U</option>
                        <option value="V">V</option>
                        <option value="W">W</option>
                        <option value="X">X</option>
                        <option value="Y">Y</option>
                        <option value="Z">Z</option>

                    </select>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-1 px-1">
                <div class="form-group d-flex align-items-center">
                    <div class="mr-1">-</div>
                    <input @input="updateDireccion" v-model="form.num2" type="number" value="12" maxlength="100" class="form-control" autocomplete="off">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-2 px-1">
                <div class="form-group">
                    <select @change="updateDireccion" v-model="form.cuadrante2" tabindex="44" class="form-control">
                        <option selected="selected" value=""></option>
                        <option value="SUR">SUR</option>
                        <option value="NORTE">NORTE</option>
                        <option value="ESTE">ESTE</option>
                        <option value="OESTE">OESTE</option>
                    </select>
                </div>
            </div>
        </section>
        <!--fin URBANA-->
        <section class="row">
            <div class="col-12 px-1">
                <p>Complemento</p>
            </div>
            <div class="col col-12 col-md-6 px-1">
                <div class="form-group">
                    <select @change="updateDireccion" v-model="form.complemento" class="form-control">
                        <option value="">Seleccione</option>
                        <option value="AGRUPACIÓN">Agrupación</option>
                        <option value="APTO">Apartamento</option>
                        <option value="BL">Bloque</option>
                        <option value="BÓDEGA">Bódega</option>
                        <option value="AU">Autopista</option>
                        <option value="CARRETERA">Carretera</option>
                        <option value="CASA">Casa</option>
                        <option value="COMUNAL">Comunal</option>
                        <option selected="selected" value="CONJ">Conjunto</option>
                        <option value="CONSULTORIO">Consultorio</option>
                        <option value="DEPO">Déposito</option>
                        <option value="EDIF">Edificio</option>
                        <option value="ENTRADA">Entrada</option>
                        <option value="ESQUINA">Esquina</option>
                        <option value="ETAPA">Etapa</option>
                        <option value="GJ">Garaje</option>
                        <option value="INT">Interior</option>
                        <option value="KM">Kilómetro</option>
                        <option value="LOCAL">Local</option>
                        <option value="LOTE">Lote</option>
                        <option value="MZ">Manzana</option>
                        <option value="MEZZ">Mezzanine</option>
                        <option value="MÓDULO">Módulo</option>
                        <option value="OF">Oficina</option>
                        <option value="PARCELA">Parcela</option>
                        <option value="PASEO">Paseo</option>
                        <option value="PENTHOUSE">Penthouse</option>
                        <option value="PISO">Piso</option>
                        <option value="PH">Propiedad Horizontal</option>
                        <option value="SALON">Salón</option>
                        <option value="SECTOR">Sector</option>
                        <option value="SEMISOTANO">Semisótano</option>
                        <option value="SOLAR">Solar</option>
                        <option value="SOTANO">Sótano</option>
                        <option value="SUPERMZ">Super Manzana</option>
                        <option value="TORRE">Torre</option>
                        <option value="UN">Unidad</option>
                        <option value="VEREDA">Vereda</option>
                        <option value="VIA">Vía</option>
                        <option value="ZN">Zona</option>
                    </select>
                </div>
            </div>
            <div class="col col-12 col-md-6 px-1">
                <div class="form-group">
                    <input @input="updateDireccion" v-model="form.complemento_texto" type="text" maxlength="100" class="form-control" autocomplete="off">
                </div>
            </div>
        </section>
    </div>
</template>

<script>

    export default {
        name: 'DireccionForm',
        props:['tipo'],
        data(){
            return {
                form:{
                    seleccion1:"",
                    text1:"",
                    letra1:"",
                    bis:"",
                    letra2:"",
                    cuadrante:"",
                    num1:"",
                    letra3:"",
                    num2:"",
                    cuadrante2:"",
                    complemento:"",
                    complemento_texto:"",

                }
            }
        },
        methods:{
            updateDireccion(){
                let direccion = this.form.seleccion1+' '+this.form.text1+' ';
                direccion += this.form.letra1+' '+this.form.bis+' ';
                direccion += this.form.letra2+' '+this.form.cuadrante+' ';
                direccion += (this.form.num1 !== '' ? '#'+this.form.num1:'')+this.form.letra3+' ';
                direccion += (this.form.num2 !== '' ? '- '+this.form.num2:'')+' '+this.form.cuadrante2;
                if(this.form.complemento !== "" || this.form.complemento_texto !== ""){
                    if(this.$props.tipo !== 'Rural'){
                        direccion += ", "
                    }
                }
                direccion += this.form.complemento+' '+this.form.complemento_texto;
                this.$emit('direccionGenerada', direccion)
            }
        }
    }
</script>

<style scoped lang="scss">


</style>
