<template>
    <div>
        <div style="text-align: justify">
            <h5><strong>SISTEMA DE INFORMACIÓN DEL SERVICIO DE EMPLEO –SISE-<a href="http://www.empleatecolombia.com.co" target="_blank"></a></strong></h5>
            <h5><strong>TÉRMINOS Y CONDICIONES DE USO</strong></h5>
                <a href="http://www.empleatecolombia.com.co" target="_blank"></a>
                    <p>
                        El uso y acceso al aplicativo del  Sistema de Información del Servicio Público de Empleo –SISE-
                        está sujeto a los siguientes "Términos y Condiciones de Uso" que reglamentan las políticas frente al
                        tratamiento de la información que reposa en las bases de datos del aplicativo del Servicio Público de
                        Empleo, en adelante SPE. Para hacer uso de este Servicio, usted deberá leer atentamente estas condiciones
                        y declarar su acuerdo diligenciando la casilla “Acepto los Términos y Condiciones” que aparecen al finalizar
                        este texto. En caso de que no señale dicha casilla o no acepte estas condiciones, no podrá utilizar este Sitio
                        Web.
                    </p>
                    <p>
                        Al utilizar este Sitio Web, usted declara la aceptación del
                        tratamiento de la información que cargue al mismo, con el propósito que la misma circule
                        y sea compartida para efectos de intermediación laboral. Los alcances de dicha intermediación
                        se detallan mas adelante.
                    </p>

                    <p>
                        El SPE podrá revisar estos Términos y Condiciones de
                        Uso en cualquier momento, actualizando su contenido. Usted deberá visitar esta página
                        cada vez que acceda al Sitio para revisar los Términos y Condiciones de Uso, en cuanto
                        son vinculantes.
                    </p>


                    <p><b>1.   DEFINICIONES PREVIAS</b> </p>


                    <p><b>1.1. SPE.</b> Es el Servicio Público de Empleo de Colombia, el cual tiene por función esencial lograr la mejor organización posible del mercado de trabajo, para lo cual ayudará a los trabajadores a encontrar un empleo conveniente, y a los empleadores a contratar trabajadores apropiados a las necesidades de las empresas. Está regulado por el Ministerio del Trabajo y administrado por la Unidad Administrativa Especial del Servicio Público de Empleo. El SPE está conformado por todos los prestadores públicos y privados que desarrollen actividades de gestión y colocación de empleo, que hayan sido autorizados previamente.</p>


                    <p><b>1.2. SISE.</b>Es el Sistema de Información del Servicio Público de Empleo, donde se realizan todas las transacciones de buscadores de empleo, empresarios y prestadores.</p>


                    <p><b>1.3. Usuario.</b> Se refiere a todas las personas naturales o jurídicas o entidades que por cualquier razón accedan o usen este aplicativo. Por regla general se entenderá que el término usuario refiere a los buscadores de empleo, demandantes y prestadores del SPE.</p>


                    <p><b>1.4. Buscador de empleo.</b>. Persona natural que se encuentra en condiciones de trabajar y está en un proceso de búsqueda de empleo (desempleados o trabajadores en búsqueda de mejores condiciones laborales).</p>


                    <p><b>1.5. Demandante.</b>Personas naturales o jurídicas que se encuentran en el proceso de búsqueda o demanda de fuerza de trabajo.</p>


                    <p><b>1.6. Vacantes:</b>Puesto de trabajo no ocupado, para el cual el empleador toma medidas activas, con el objetivo de encontrar el candidato idóneo para cubrirlo.</p>


                    <p><b>1.7. Candidatos:</b> Son los buscadores de empleo que  cumplen con el perfil de una vacante y se han postulado directamente a la misma o que han sido preseleccionados por un prestador para ser remitidos a optar por dicha vacante.</p>


                    <p><b>1.8. Prestador:</b> Personas jurídicas de derecho público o privado autorizadas por la autoridad competente para prestar servicios de gestión y colocación. La prestación del servicio puede ser de manera presencial o virtual o ambas. Son prestadores del Servicio Público de Empleo la Agencia Pública de Empleo a cargo del Servicio Nacional de Aprendizaje, SENA, las Agencias Públicas y Privadas de Gestión y Colocación de Empleo, incluidas las constituidas por las Cajas de Compensación Familiar, y las Bolsas de Empleo.</p>



                    <p><b>2.   NORMAS DE USO GENERAL</b></p>


                    <p><b>2.1  Postulación:</b>Es el proceso que queda registrado en el aplicativo del SPE mediante el cual los buscadores de empleo optan por las vacantes que se ajustan a sus perfiles, a través de los siguientes canales:: i) proceso de auto consulta, donde los candidatos evalúan a través del aplicativo las vacantes que se ajustan a su perfil y aplican a las de su conveniencia; ii) acompañamiento de un prestador, el cual asesora y orienta al buscador de empleo, sobre las vacantes disponibles, acordes con su perfil, aunque la decisión de postularse es del buscador; iii)  proceso de preselección, donde el prestador, desde uno de sus puntos de atención, realiza una búsqueda entre los buscadores inscritos,  de aquellos que cumplan con el perfil requerido por el empleador y proceden a la remisión de su hoja de vida, para que sea el empleador quien decida el proceso de reclutamiento.</p>


                    <p><b>2.2. Entrevista:</b>dentro del proceso de selección y vinculación laboral que establece el empresario, es probable que el candidato deba presentarse personalmente ante el empresario para los tramites de entrevistas y pruebas. Por esta razón se recomienda que el candidato considere SOLAMENTE las vacantes de las regiones, donde tenga la seguridad de que puede presentarse personalmente.</p>


                    <p><b>2.3. Vinculación laboral:</b> Los  candidatos deben  tener en cuenta que el hecho de postularse o ser remitidos a un proceso de preselección, así como el de presentarse a una entrevista, no garantiza su contratación. Dicha decisión le corresponde exclusivamente al empresario.</p>



                    <p><b>3.   OBLIGACIONES DEL USUARIO.</b></p>


                    <p><b>3.1. Responsabilidad:</b> Los usuarios en general (buscadores de empleo, empresarios y prestadores del Servicio Público de Empleo) son responsables de mantener la confidencialidad, custodia y buen uso de sus datos, de su contraseña, así como de toda la información que conozcan a través del aplicativo del SPE. Serán así mismo, responsables de todos los usos de su registro. En caso de olvido, manipulación, inactivación o sospecha de fraude o utilización indebida, los usuarios deberán notificar inmediatamente al Servicio Público de Empleo cualquier uso sin autorización de su registro o contraseña. Así mismo, serán responsables de todos los envíos transmitidos a través de su cuenta y clave privada de acceso, los cuales se supondrán emitidos por el usuario.</p>


                    <p><b>3.2. Veracidad y confiabilidad de la información.</b> Será responsabilidad de los usuarios registrar información veraz, seria y verificable en los campos correspondientes del aplicativo, bien sea información personal, empresarial o referente a las vacantes, según sea el caso.</p>


                    <p><b>3.3. Actualización de la información.</b>Los usuarios deberán mantener actualizada la información de sus registros y transacciones correspondientes. </p>


                    <p><b>3.4. Racionalidad.</b>El Servicio Público de Empleo, así como su plataforma informática -SISE- constituyen un bien público, por esta razón todos los usuarios se comprometen a darle un uso racional a la página y los servicios que de allí se deriven, observando la ley y las buenas costumbres, el orden público y la moral.</p>


                    <p><b>3.5. Uso ilegal.</b>.  Los usuarios no podrán utilizar ésta página web para la transmisión, publicación o comunicación de cualquier tipo de información diferente a la requerida en este portal, ilegal, dañina u objetable, que contraríe la Constitución Política de Colombia, las leyes y las buenas costumbres. El Servicio Público de Empleo se reserva el derecho de determinar el uso ilegal u objetable que de la página se haga y, en consecuencia, podrá tomar las medidas legales y administrativas que considere convenientes.</p>


                    <p><b>3.6. Publicidad.</b> La presente página constituye un bien público, por lo tanto está prohibido utilizar esta página para realizar cualquier tipo de publicidad comercial.</p>


                    <p><b>3.7. Daños y perjuicios.</b>Cada usuario deberá responder y asumir los daños y perjuicios de toda naturaleza que la página de Internet del Servicio Público de Empleo pueda sufrir, directa o indirectamente, como consecuencia del incumplimiento de cualquiera de las obligaciones derivadas de los presentes términos y condiciones o acciones contrarias a las leyes en relación con la utilización de la misma. Ningún usuario podrá tomar acciones que entrañen riesgo, daño o inutilización de esta página o de los Servicios y/o del contenido que de ella se deriven.</p>


                    <p><b>3.8. Derechos reservados.</b>Los usuarios deberán respetar los emblemas, marcas comerciales registradas, y demás objetos de propiedad intelectual pertenecientes al Servicio Público de Empleo. Los derechos de autor sobre las páginas, las imágenes y en general todo lo que aparece en pantalla, así como sobre la información y el material contenidos en las mismas, son propiedad del  Servicio Público de Empleo. En este sentido, queda prohibido a todos los usuarios que por sí mismos o por interpuesta persona accedan al sistema con el fin de reproducir, retransmitir, distribuir, vender, publicar, divulgar, circular o comercializar, y en general, disponer por cualquier medio de la información allí contenida, total o parcialmente.</p>


                    <p><b>&gt;3.9.Ingreso ilegal.</b> Todo usuario y el público en general, deberán abstenerse de ingresar ilegalmente a la página, hackear o piratear alguno de sus contenidos, así como intentar obtener información, mensajes, gráficos, dibujos y/o imágenes, fotografías, grabaciones, software y, en general, cualquier clase de material accesible a través de ésta página.</p>


                    <p><b>3.10.Seguridad.</b>Se prohíbe a los usuarios violar o intentar violar la seguridad del aplicativo  del Servicio Público de Empleo, incluyendo pero no limitándose a:</p>
                    <p>a)	Acceder a datos, cuentas o servidores no autorizados.</p>
                    <p>b)	Evaluar o probar la vulnerabilidad de un sistema o red.</p>
                    <p>c)	Intentar impedir el servicio a cualquier usuario, anfitrión o red, mediante el envío de virus al Sitio Web, o mediante saturación, envíos masivos ("flooding"), "spamming", bombardeo de correo o bloqueos del sistema ("crashing")</p>
                    <p>d)	Enviar correos no pedidos, incluyendo promociones y/o publicidad de productos o servicios.</p>
                    <p>e) Utilizar la información consignada en las bases de datos del sistema para fines diferentes a procesos de intermediación laboral, así como intentar tomar información personal de los usuarios para contactarlos, suplantar el nombre del Servicio Público de Empleo.</p>
                    <p>f)	Utilizar el Sistema para obtener cualquier clase de beneficio, sin seguir los protocolos establecidos para la gestión y colocación de empleo.</p>
                    <p>g) Falsificar cualquier cabecera de paquete TCP/IP o cualquier parte de la información de la cabecera de cualquier correo electrónico o en mensajes de foros de debate.</p>
                    <p>h)	Borrar, adulterar, filtrar, deshabilitar o revisar cualquier material e información anunciado por otra persona o entidad.</p>
                    <p>i)	El Servicio Público de Empleo se reserva el derecho de retirar o solicitar que sea excluida información que no cumpla con las obligaciones de los usuarios, así como podrá decidir la suspensión o la des-habilitación definitiva del usuario infractor, siendo siempre obligación del Servicio Público de Empleo y de cualquiera de sus prestadores autorizados poner en conocimiento de las autoridades judiciales y administrativas competentes los hechos considerados como posibles faltas disciplinarias o punibles penalmente.</p>


                    <p><b>3.11.Habeas Data o Protección de datos personales.</b> Cuando usted se registra en este aplicativo se le solicitará que suministre a los prestadores del Servicio Público de Empleo información para efectos de prestar servicios de gestión y colocación de empleo. En adición a los términos y condiciones que puedan ser previstos en otras políticas de privacidad en este aplicativo, usted entiende y acepta que los Prestadores del Servicio Público de Empleo compartan  y permitan consultar sus datos personales a terceras personas con el fin de prestar los servicios de gestión y colocación de empleo.  Los empleadores podrán preservar su confidencialidad en los términos previstos en el parágrafo del artículo 3º de la Resolución 2605 de 2014 del Ministerio del Trabajo.</p>


                    <p><b>3.12.Reserva estadística.</b> Además del fin previsto en el anterior numeral, los datos consignados en este aplicativo solo podrán ser usados para realizar análisis del mercado laboral, conservando el  respectivo anonimato del usuario o empresa. No podrán ser usados para fines tributarios, fiscales o afines.</p>



                    <p><b>4.   CONDICIONES ESPECIALES DE USO.</b></p>


                    <p><b>4.1. Títulos.</b> Los títulos, encabezados o similares que se utilizan en la página de Internet, tienen como único propósito el servir de guía o ayuda al usuario.</p>


                    <p><b>4.2. Modificación de condiciones.</b> El Servicio Público de Empleo podrá actualizar o modificar las condiciones y avisos de los servicios de su página web periódicamente, para reflejar cambios en el servicio, cambios en la normativa que puedan influir en la prestación de los servicios o por cualquier otro motivo. Es responsabilidad del usuario comprobar las condiciones y avisos periódicamente. El  uso de los servicios a través de la clave privada de acceso, después de que se haya llevado a cabo cualquier modificación, implicará la aceptación de dicho cambio. A menos que se indique explícitamente lo contrario, cualquier característica nueva que modifique o mejore los servicios web estará sujeta a las condiciones de uso y a sus modificaciones.</p>


                    <p><b>4.3. Interrupción del servicio.</b> El Servicio Público de Empleo podrá interrumpir discrecionalmente, en cualquier momento y sin necesidad de previo aviso, el acceso a los servicios de la página web o a una parte de los mismos.</p>



                    <p><b>5.   LIMITACIÓN Y EXONERACIÓN DE RESPONSABILIDAD DEL SERVICIO PÚBLICO DE EMPLEO.</b></p>


                    <p><b>5.1. Conectividad y uso.</b>En ningún caso el Servicio Público de Empleo será responsable por daños directos, indirectos, especiales, o accidentales, ni por las pérdidas o gastos que pudiesen surgir por conectarse a la página web o a partir del uso que se haga del sitio, o por la incapacidad para hacer uso del sitio por parte de cualquier persona, o por cualquier falla en la ejecución, error, omisión, interrupción, defecto, demora en la transmisión o en la conexión, o por la existencia de un virus en la computadora o por fallas del sistema o la línea, o por su suspensión o terminación, aun cuando el Servicio Público de Empleo o sus representantes se encuentren notificados sobre la posibilidad de tales daños, pérdidas o gastos.</p>


                    <p><b>5.2. Interconectividad con otras páginas.</b> Esta página contiene links o puede generar conexiones a otras direcciones en Internet. El Servicio Público de Empleo no tiene ningún tipo de control sobre el contenido de estas páginas, por lo tanto no es responsable del contenido o políticas que contengan, ni de los daños que su acceso ocasione al usuario.</p>


                    <p><b>5.3. Daños externos.</b> El Servicio Público de Empleo se declara ajeno a cualquier responsabilidad por daños que llegare a sufrir el hardware y el software, o cualquier aparato electrónico a través del cual se accede al sistema de operación. Igualmente, no tendrá ninguna responsabilidad por las interrupciones en la transmisión, errores técnicos o de fallas o demoras en el desempeño de la página,cualquier clase de virus o demoras en el proceso transaccional.</p>


                    <p><b>5.4  Presencia de virus.</b> El Servicio Público de Empleo no controla ni garantiza la ausencia de virus ni de otros elementos en los contenidos que puedan producir alteraciones en el sistema informático (software y hardware) o en los documentos electrónicos y archivos almacenados en el sistema informático del usuario. El Servicio Público de Empleo no asume responsabilidad alguna por los daños y perjuicios de cualquier naturaleza que puedan derivarse de la presencia de virus o la presencia de otros elementos en los contenidos que puedan producir alteraciones en el sistema informático, documentos electrónicos o archivos del usuario. </p>


                    <p><b>5.5.Otras exoneraciones.</b> El Servicio Público de Empleo no asume responsabilidad alguna por los daños y perjuicios de cualquier naturaleza que puedan derivarse de la transmisión, difusión, almacenamiento, puesta a disposición, recepción, obtención o acceso al contenido de la página internet, y en particular, aunque no de modo exclusivo, por los daños y perjuicios que puedan ocasionarse por: </p>

                    <p>a)	El incumplimiento de la ley, la moral y las buenas costumbres generalmente aceptadas o el orden público como consecuencia de la transmisión, difusión, almacenamiento, puesta a disposición, recepción, obtención o acceso al contenido de la página.</p>

                    <p>b)	La infracción de los derechos de propiedad intelectual e industrial, de los secretos empresariales, de compromisos contractuales de cualquier índole, de los derechos al honor, a la intimidad personal y familiar y a la imagen de las personas, de los derechos de propiedad y de toda otra naturaleza pertenecientes a un tercero como consecuencia de la transmisión, difusión, almacenamiento, puesta a disposición, recepción, obtención o acceso al contenido de la página.</p>

                    <p>c) La realización de actos de competencia desleal y publicidad ilícita como consecuencia de la transmisión, difusión, almacenamiento, puesta a disposición, recepción, obtención o acceso al contenido de la página.</p>

                    <p>d)	La falta de exhaustividad, pertinencia y/o actualidad del contenido de la página.</p>

                    <p>e)	El hecho de que las expectativas generadas por el contenido de la página no se consideren adecuadas para algún propósito.</p>

                    <p>f) El incumplimiento, retraso en el cumplimiento, cumplimiento defectuoso o terminación por cualquier causa de las obligaciones contraídas con terceros a través de o con motivo del acceso al contenido de la página.</p>


                    <p><b>6.  PROHIBICIONES A USUARIOS PRESTADORES DEL SERVICIO PUBLICO DE EMPLEO</b></p>

                    <p>A   los usuarios con facultades o roles de prestador del Servicio Público de Empleo dentro de la plataforma les está prohibido:</p>

                    <p>a)	 Intentar impedir el servicio a cualquier usuario, sin una autorización administrativa por parte del Servicio Público de Empleo.</p>

                    <p>b)	 Utilizar fraudulentamente, manipular sin consentimiento, filtrar indebidamente, entregar sin autorización, modificar la información consignada en las bases de datos del sistema para fines diferentes a los procesos de intermediación laboral, así como intentar tomar información personal de los usuarios para contactarlos, suplantar identidades o actuar a nombre propio para obtener cualquier clase de beneficio, sin seguir los protocolos establecidos de intermediación.</p>

                    <p>c)  Entrar al aplicativo con roles diferentes a los asignados previamente por el Servicio Público de Empleo. </p>

                    <p>d)	 Entorpecer y retardar el trámite normal de los procesos de intermediación.</p>

                    <p>e)	 Postular unilateralmente o solicitar dadivas, prebendas o cualquier clase de bienes o servicios para tal fin, o permitir que otro lo haga violando los principios de gratuidad e imparcialidad que rigen el Servicio Público de Empleo.</p>

                    <p>f)  Manipular el aplicativo con el objeto de favorecer o desfavorecer a un determinado candidato o empresa en el proceso de intermediación laboral.</p>

                    <p>g)  Borrar, adulterar, filtrar, deshabilitar o revisar cualquier material e información anunciado por otra persona o entidad.</p>


                    <p><b>7.  DISPOSICIONES FINALES</b></p>


                    <p>La violación de cualquiera de los términos y condiciones de uso de esta plataforma, puede acarrear responsabilidades civiles, penales y/o disciplinarias según corresponda. El Servicio Público de Empleo pondrá en conocimiento de las autoridades competentes cualquier irregularidad que ponga en riesgo el funcionamiento de esta plataforma, con el fin que se adelanten las investigaciones y acciones legales del caso. Los presentes Términos y Condiciones se rigen por las leyes colombianas. La jurisdicción para cualquier reclamación que surja de estos Términos y Condiciones será exclusivamente la de los tribunales y jueces de la República de Colombia. Si algún aparte de estos Términos y Condiciones es declarada nula o inválida o ineficaz, ello no afectará la validez del contenido restante de estos Términos y Condiciones.</p>
           </div>
    </div>
</template>

<script>

    export default {
        name: 'TerminosCondiciones',
    }
</script>

<style scoped lang="scss">


</style>
