<template>
    <div class="container-fluid px-0">
        <div class="row">
            <HomeUi></HomeUi>
            <transition name="fade">
                <div class="col-12 col-lg-6 alto d-flex flex-column py-5" v-if="verMenu">
                    <div class="my-auto">
                        <div class="row m-1 justify-content-center" @click="$router.push({name: 'personas.registro'})">
                            <Boton text="Buscar Vacantes" icon="fas fa-search-dollar" ></Boton>
                        </div>
                        <div class="row m-1 justify-content-center" @click="$router.push({name: 'personas.registro'})">
                            <Boton text="Observación Laboral" icon="fas fa-chart-line"></Boton>
                        </div>
                        <div class="row m-1 justify-content-center" @click="$router.push({name: 'personas.registro'})">
                            <Boton text="Agencia Publica de Empleo" icon="fas fa-hands-helping"></Boton>
                        </div>
                        <div class="row m-1 justify-content-center" @click="offMenu(true)">
                            <Boton text="Ingreso Ciudadanos" icon="fas fa-users" ></Boton>
                        </div>
                        <div class="row m-1 justify-content-center" @click="offMenu(false)">
                            <Boton text="Ingreso Empresas" icon="fas fa-building" ></Boton>
                        </div>
                    </div>
                    <LogosUi></LogosUi>
                </div>
            </transition>
            <div class="col-12 col-lg-6 alto d-flex flex-column" v-if="!verMenu">
                <transition name="fade">
                    <LoginUi :text="titleLogin" class="my-auto"></LoginUi>
                </transition>
                <LogosUi></LogosUi>
            </div>
        </div>

    </div>
</template>

<script lang="ts">
    import Boton from "../../components/elementos/boton.vue";
    import HomeUi from "../../components/ui/home_ui.vue";
    import LoginUi from "../../components/ui/login_ui.vue";
    import LogosUi from "../../components/ui/logos_ui.vue";
    import { mapState, mapMutations, Store } from "vuex";

    export default {
        name: 'inicio',
        data(){
            return {
                titleLogin: '',
    
            }
        },
        methods:{
            offMenu(boo){
                boo ? this.titleLogin = 'Ciudadanos' : this.titleLogin = 'Empresas'
                this.$store.commit('offMenuHome')
            }
        },
        computed:{
            verMenu(){
                return this.$store.getters.verMenu
            },

        },
        components: {
            Boton,
            HomeUi,
            LoginUi,
            LogosUi

        }
    }
</script>

<style scoped>


</style>
