<template>
  <div id="app">
    <Loading :active.sync="isLoading"
             :can-cancel="false"
             :is-full-page="true" color="#dc3545" loader="spinner"></Loading>
    <transition name="fade">
      <router-view/>
    </transition>
  </div>
</template>

<script>

  import {EventBus} from "./EventBus";
  import AuthService from "./services/AuthService";

  export default {
    name: "App",
    data() {
      return {
        isLoading: false
      }
    },
    methods:{
      verifyToken(){
        let expires_in = localStorage.getItem('expires_in');
        if ((new Date()) >= expires_in) {
          AuthService.refresh().then(() => {
            localStorage.clear();
            localStorage.setItem('token', resp.data.access_token);
            let d = new Date();
            d.setSeconds(d.getSeconds() + resp.data.expires_in - 60)
            localStorage.setItem('expires_in', Date.parse(d));
            localStorage.setItem('user', JSON.stringify(resp.data.user));
          })
        }
      }
    },
    mounted() {
      EventBus.$on('loading',()=>{this.isLoading = true; console.log('loaddd')});
      EventBus.$on('loading-close',()=>{this.isLoading = false;})
      if(localStorage.getItem('token') !== null) {
        setInterval(this.verifyToken, 5000)
      }
    }
  }
</script>

<style lang="sass">
@import "../sass/app"
@import '~bootstrap-vue'


</style>
