<template>
    <div class="footer">
        <div class="row justify-content-center align-items-center  bg-light p-4">
            <div class="info col-6 text-center">
                {{irInfo}}
            </div>
            <div class="col-1">
                <img src="/assets/img/pasofirme2.png" alt="" class="img-fluid">
            </div>
            <div class="col-2">
                <img src="/assets/img/gdark.png" alt="" class="img-fluid">
            </div>
            <div class="col-2">
                <img src="/assets/img/logo1.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-1">
                <img src="/assets/img/logo2.png" alt="" class="img-fluid">
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: 'footer_ui',
        computed:{
            irInfo(){
                return this.$store.state.textInfo
            }
        }
    }
</script>

<style scoped lang="scss">

.footer{
    // position: absolute;
    bottom: 0;
    width: 100vw;
}

.info{
    font-size: .7rem;
    color:gray;
}

</style>
