<template>
    <div class="col-12 col-lg-6 alto fondo py-5">
        <div class="titulo text-light ml-5 mr-3">Servicio Público <br>de Empleo</div>

        <div class="row justify-content-center mb-5">
            <div class="col-6 mt-5">
                <img src="/assets/img/gwhite.png" alt="" class="img-fluid">
            </div>
        </div>

        <div class="row justify-content-center mb-5">
            <div class="col-3">
                <img src="/assets/img/pasofirme.png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row justify-content-center my-4">
            <div class="col-10">
                <div class="info text-light text-center"> {{ irInfo }} </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: 'home_ui',
        computed:{
            irInfo(){
                return this.$store.state.textInfo
            }
        }
    }
</script>

<style scoped lang="scss">
    .titulo{
        font-size: 4rem;
        font-weight: 600;
    }



    .info{
        font-size: .8rem;
    }

    .fondo{
      background-image:   linear-gradient(to right bottom,
                          rgba(243, 59, 46, 0.8),
                          rgba(126, 0, 0, 0.8)),
                          url(/assets/img/gaitan.png);
                          background-attachment: fixed;
                          background-position: center;
                          background-repeat: no-repeat;
                          background-size: cover;

  }

</style>
