<template>
    <ValidationObserver ref="observer" tag="form" @submit.prevent="login()">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="h4 mb-5 mt-5 mt-lg-0 text-danger">Ingreso {{text}}</div>
                <ValidationProvider rules="required|email" v-slot="{ errors }" name="email">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" v-model="form.email" type="email" class="form-control" placeholder="Escribe el email">
                    </div>
                    <small class="text-danger">{{errors[0]}}</small>
                </ValidationProvider>
                <ValidationProvider rules="required" v-slot="{ errors }" name="contraseña">
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input id="password" v-model="form.password" type="password" class="form-control" placeholder="Escribe la contrasena">
                </div>
                    <small class="text-danger">{{errors[0]}}</small>
                </ValidationProvider>
                <div class="row">
                    <div class="col-12 px-0 py-2">
                            <button class="btn btn-warning btn-block" type="submit">Ingresar</button>
                    </div>
                    <div class="col-12 px-0 py-2">
                        <button type="button" class="btn btn-outline-danger btn-block" @click="onMenu()">Regresar</button>
                    </div>
                </div>
                <router-link to="/personas/registro" v-if="text === 'Ciudadanos'">
                    <a href="javascript:void(0)" class="text-center d-block mt-3">¿No tienes cuenta? <strong class="ml-2">Regístrate</strong>  </a>
                </router-link>
                <router-link to="/panel/demandantes/registro" v-if="text === 'Empresas'">
                    <a href="javascript:void(0)" class="text-center d-block mt-3">¿No tienes cuenta? <strong class="ml-2">Regístrate</strong>  </a>
                </router-link>

            </div>
        </div>
    </ValidationObserver>
</template>

<script>
    import {EventBus} from "../../EventBus";
    import AuthService from "../../services/AuthService";

    export default {
        name: 'login_ui',
        props:['text'],
        data(){
          return{
              form:{
                  email:'',
                  password:''
              }
          }
        },
        methods:{
            onMenu(){
                this.$store.commit('onMenuHome')
            },
            async login(){
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    EventBus.$emit('loading')
                    try{
                        let resp = await AuthService.loginOferente(this.form);
                        localStorage.setItem('token', resp.data.access_token);
                        let d = new Date();
                        d.setSeconds(d.getSeconds() + resp.data.expires_in - 60)
                        localStorage.setItem('expires_in', Date.parse(d));
                        localStorage.setItem('user', JSON.stringify(resp.data.user));
                        window.location.reload();
                    }catch(error){
                        this.$swal({
                            title: "Error!",
                            text: error.response.data.error.toString(),
                            icon: "error",
                        })
                    }finally {
                        EventBus.$emit('loading-close')
                    }
                }else{
                    this.$swal({
                        title: "Error!",
                        text: 'Debes corregir los errores antes de enviar',
                        icon: "error",
                    })
                }
            }
        }
    }
</script>

<style scoped lang="scss">


</style>
