<template>
    <div class="row justify-content-center align-items-center my-5">
        <div class="col-6 col-sm-4">
            <img src="/assets/img/logo1.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-6 col-sm-3">
            <img src="/assets/img/logo2.png" alt="" class="img-fluid">
        </div>
    </div>
</template>

<script>
    export default {
        name: 'logos_ui'
    }
</script>

<style scoped lang="scss">


</style>
